[2015-09-18 15:42] broskoski opened #1 "auth token should pass through"
The unresolved issue I see here is authentication + caching. Ideally:
- An `X-AUTH-TOKEN` is passed through the request
- Metaphysics maintains an admin token to have the data it needs to show ui-specific computed attributes (i.e. `show_carousel`).

First thing that comes to mind is whitelisting attributes based on what is returned by a non-admin, and allowing those + whatever is computed to be re

[2015-09-21 09:57] orta opened #2 "OSS?"

[2015-09-21 16:51] dylanfareed opened #3 "Cache key could use _id rather than slug?"
I'm not sure how applicable this is for metaphysics given that in web clients you tend to come at things from the slug, but we've been bitten by slugs != actual object ids in other projects.

So I would float this here.

https://artsy-metaphysics-staging.herokuapp.com/artwork/andy-warhol-skull returns
![image](https://cloud.githubusercontent.com/assets/197336/9998458/3339a72c-605f-11e5-8283-7dfbe4

[2015-10-23 21:32] #1 closed, assigned to nobody

[2015-10-23 21:32] #3 closed, assigned to nobody

[2015-10-29 19:16] dzucconi opened #9 "Per request caching option"
Would want to be able to do something like:

[code]

and bypass any caching completely.

Also wondering if a memoization option would also be useful, to bypass the loader

[2015-10-29 19:16] dzucconi opened #10 "Don't crash if Redis goes down"

[2015-10-30 18:09] dzucconi opened #12 "Upgrade to Babel 6"
Working on it here but this release has a ton of bugs and deploys aren't possible yet. So holding off on this for a while...

https://github.com/artsy/metaphysics/compare/artsy:master...dzucconi:babel6?expand=1

[2015-10-30 19:12] dzucconi opened #13 "Try corralling search results"
We *could* use this to make Google queries then enrich the data with Gravity responses.

[2015-11-03 16:06] dzucconi opened #15 "Use sepia (or something similar) for stubbing API responses"
https://github.com/linkedin/sepia

[2015-11-13 15:18] dzucconi opened #25 "Subdomain + HTTPS"

[2015-11-13 15:23] dzucconi opened #26 "Configurable caching"
Currently we refresh on every request in the background. This could maybe be configurable to refresh on every N request so it can be tuned to easy up on Gravity if need be.

Meanwhile, the cache hangs around indefinitely—should there be an expiration? —I don't really think so but maybe there is an argument in favor.

Also should ensure Redis is setup to appropriately evict keys when it's full http

[2015-11-13 15:23] dzucconi opened #27 "Set up New Relic"

[2015-11-13 15:27] dzucconi opened #28 "Upgrade various Heroku integrations off hobby levels"
- Papertrail
- Heroku Redis

[2015-11-13 17:31] #10 closed, assigned to dzucconi

[2015-11-13 19:37] #27 closed, assigned to broskoski

[2015-11-13 21:54] #25 closed, assigned to broskoski

[2015-11-13 21:58] broskoski opened #32 "Add middleware to force SSL"

[2015-11-16 16:10] #26 closed, assigned to broskoski

[2015-11-16 20:46] #32 closed, assigned to broskoski

[2015-11-16 21:25] #28 closed, assigned to broskoski

[2015-11-16 21:25] #15 closed, assigned to nobody

[2015-11-19 18:07] ashfurrow opened #41 "CI badge"
It says "unknown" and links to a 404.

[2015-11-19 18:08] ashfurrow commented on #2
Looks like this is good to close :tada:

[2015-11-19 18:10] dzucconi commented on #2
:cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool::cool:
:cool::cookie::cookie::cookie::cookie::cookie::cool::cookie::cool::cool::cool::cool::cookie::cool::cookie::cool::cool::cool::cool::cookie::cool:
:cool::cool::cool::cookie::cool::cool::cool::cookie::cool::cool::cool::cool::cookie::cool::cool::cookie::cool::cool::cookie::coo

[2015-11-19 18:10] #2 closed

[2015-11-19 18:12] ashfurrow commented on #2
![](http://media1.giphy.com/media/vtVpHbnPi9TLa/giphy.gif)

[2015-11-19 23:04] dzucconi commented on #41
Closed with https://github.com/artsy/metaphysics/commit/e6f87c4ba0960885aa779066ca65df436b74a8de

[2015-11-19 23:04] #41 closed

[2015-11-30 17:07] #12 closed

[2015-12-02 02:26] #13 closed

[2015-12-02 22:57] mzikherman opened #54 "Log/surface errors"
This thread: https://github.com/artsy/force-private/pull/3774#discussion_r44986905

Basically, I think we should be logging whenever leafs are erroring (for a particular query). That way, instead of waiting to notice that something is broken or missing somewhere down the line, we can stay more on top of inconsistencies in our data or API responses, etc.

Maybe those queries should actually return

[2015-12-09 17:27] dzucconi opened #66 "Consider swapping Redis for Memcached"
https://github.com/artsy/metaphysics/blob/master/lib/cache.js

[2016-01-15 23:45] 1aurabrown opened #82 "cropped image url always tries to crop from large image"
https://github.com/artsy/metaphysics/blob/master/schema/image/cropped.js#L11-L14

This should be able to determine the largest available version and crop that one. Lots of profile cover images for the partner page don't have a `large` version, and so trying to request the cropped url from metaphysics results in a nonexistent image url, like
[code]
see the actual profile data:
https://api.artsy.net

[2016-01-15 23:53] dzucconi commented on #82
For now you can just specify the version you want with `version: foo`

But yeah; I think we should just not set a default anymore and force the consumer to specify which version they want by making that argument non-null.

I don't like the idea of trying to set a default because then we have to maintain all knowledge of versions and their sizes here. This would be fine if it was even remotely sane

[2016-01-16 00:14] 1aurabrown commented on #82
right but before the request happens, i can't possibly know what versions are available

[2016-01-16 00:15] 1aurabrown opened #83 "enums should be caps"
https://facebook.github.io/graphql/#sec-Enum-Value

[2016-01-16 03:01] dzucconi commented on #82
I think presumably the idea is that you'd peek at what the versions were while crafting your query
[code]

Then use whichever is appropriate.

Though I realize now I fixed this behavior in https://github.com/artsy/metaphysics/pull/80 earlier today.

So this does the right thing now by preventing you from using a version that doesn't exist:

https://github.com/artsy/metaphysics/blob/7f1e3b1f0abd105

[2016-01-22 22:13] mzikherman opened #96 "Host the app in a different place"
This repo can chew up a lot of cache space when in production and serving high traffic pages.

Heroku cache/redis instances are pretty expensive especially for the larger ones which are needed.

I propose one of the following three choices:
- keep everything on heroku and accept that the redis instance is going to be $$
- keep the app on heroku and use AWS ElasticCache (this may have security poli

[2016-01-22 22:15] mzikherman commented on #96
http://docs.aws.amazon.com/opsworks/latest/userguide/workinglayers-node.html

[2016-01-29 15:22] broskoski opened #101 "Add delta trending endpoints"
cc @cavvia

[2016-01-29 16:07] dzucconi commented on #101
Which are these?

You can currently get trending artists off a gene: https://github.com/artsy/metaphysics/blob/536b14939166ffbc027ffe5b18514bbb5fc72c91/schema/gene.js#L37-L52

[2016-01-29 16:10] broskoski commented on #101
for instance:
http://delta.artsy.net/?method=fetch&name=artist_follow_2t&n=40
http://delta.artsy.net/?method=fetch&name=artist_save_2t&n=40
http://delta.artsy.net/?method=fetch&name=artist_search_2t&n=40

[2016-02-01 21:16] #66 closed

[2016-02-11 19:27] mzikherman opened #118 "Fix aggregation parsing for for_sale (filter_artworks)"

[2016-02-18 09:55] alloy opened #122 "Persistent queries on production to mitigate against DOSing/crawling and for efficiency."
From a talk given by Nick Schrock (a co-creator of GraphQL):
- “Has anybody tried to DOS Facebook?” https://youtu.be/Ed6oJXKt3-M?t=1h13s
- On “Persistent Queries” https://youtu.be/Ed6oJXKt3-M?t=1h1m50s

It would seem from his responses that they are not using persistent queries as a way to mitigate DOSing, but he also mentions that they don’t use it for HTTP caching, so I’m unsure what they are us

[2016-02-18 10:12] alloy commented on #122
## Staging

### Request

[code]

The server then replaces the hardcoded artist ID by something like `$artist_id` and creates a hash of the query: `38218c7`. (For demo purposes, this hash is the first 8 characters of a SHA256 hash of the query.)

### Response

[code]

## Production

The query hash is stored in the production server’s whitelist, after which the following would be possible:

[code]

[2016-03-04 15:35] dzucconi opened #133 "Convert resizer to use Gemini"

[2016-03-04 16:23] broskoski opened #134 "Preparations for use in Relay"
I haven't researched at all what is needed here, but whatever work is needed to make metaphysics work nicely with Relay will be needed for both web and mobile.

----

[Updated by @alloy]

- [x] Add [Global Object Identification](https://facebook.github.io/relay/graphql/objectidentification.htm).
  - [x] Need to change the `id` fields to be a composite key, so that the type and specific instance ca

[2016-03-04 16:30] dzucconi commented on #134
https://github.com/graphql/graphql-relay-js

[2016-03-04 16:40] alloy commented on #134
Aye aye. So basically, since our current sprint where the new artist view is scheduled is slated for 21st of March, this means I’d need to be able to use Relay with metaphysics before then, e.g. 16th.

[2016-03-13 17:12] dzucconi opened #141 "Tune memory usage"
![](http://static.damonzucconi.com/_capture/cP6FPVbTu2.png)

![](http://static.damonzucconi.com/_capture/JABwHSe5kK.png)

Memory usage generally tends to stay within the bounds of Heroku's Standard-1X dyno limits but occasionally there is some kind of runaway spike. This doesn't appear to correlate at all with throughput/reqs which were flat during that last spike

[2016-03-14 15:59] craigspaeth commented on #141
(╥﹏╥) lmk if you want help with this. I saw another good article about debugging memory in Node recently.

[2016-03-14 16:29] dzucconi commented on #141
Weird spike of throughput, then all of a sudden, swapping

![](http://static.damonzucconi.com/_capture/AbaWkNxhOq.png)

[2016-03-14 16:56] craigspaeth commented on #141
Also just a thought.. `global.Promise = require('bluebird')` :stuck_out_tongue_winking_eye:

[2016-03-14 16:56] dzucconi commented on #141
gooooood suggestion

[2016-03-16 11:25] dzucconi commented on #141
I think we just needed a bit more headroom. I switched from 2x512mb dynos to 1x1gb dyno 2 days ago and it looks pretty good. I'm sure switching to bluebird didn't hurt either.

[2016-03-16 11:25] #141 closed

[2016-03-22 19:57] #133 closed

[2016-03-30 22:19] acjay opened #162 "Aggregate sale data from Gravity and Causality"
As part of [the end-to-end integration plan](https://github.com/artsy/auctions/issues/30) for live auctions, we want to have clients bootstrap their data by querying Metaphysics. Ideally, we can have Metaphysics interpret the query and request the definitive Sale and Artwork data from Gravity, and then join in Causality lot data. When we add auth, a JWT will need to be forwarded to Causality to au

[2016-04-01 22:14] mzikherman opened #173 "Tweak exhibition highlights waterfall"
https://github.com/artsy/gravity/pull/9896#issuecomment-204568981

[2016-04-04 18:29] dzucconi opened #175 "'View in Room' guard"
https://www.artsy.net/artwork/giorgio-griffa-sezione-aurea-obliquo-finale-628

When photographs have surrounding install context the in room view is disfigured. In this instance, it dramatically overflows off the 'wall'.

We should disable the `is_hangable` field if the aspect ratio of the primary image diverges too much from the aspect ratio of the artwork measurements.

[2016-04-04 19:20] #173 closed

[2016-04-20 19:52] dzucconi opened #200 "Always exclude current artwork when accessing nested artworks from a parent artwork"

[2016-04-27 20:59] #200 closed

[2016-05-04 12:54] alloy opened #227 "Specify time zone defaults."
Regarding the `exhibition_period` field added in #226, and dates in general, we should make it possible to return these taking the user’s time zone into account. My thoughts are:

- [x] Make date formatting fields take an optional zone. https://github.com/artsy/metaphysics/blob/c70b0f8c0afc8ab739883973392fe38294ccde6d/schema/fields/date.js
- [x] Set a default zone for the duration of the request t

[2016-05-04 21:46] dzucconi commented on #227
Re: `exhibition_period`: it wouldn't make a ton of sense to say an opening is at 8pm your time EST when the gallery is in Tokyo—which is why I thought we just use UTC across the board?

[2016-05-04 21:53] alloy commented on #227
I'm mainly thinking about the zones where a date might not be the same as the UTC one.

This is more important for another thing I'll be adding tomorrow, which is a status message like 'Opening Today', which is kinda lame when a show is not actually closing 'today' in that user's zone.

[2016-05-04 21:54] dzucconi commented on #227
I think what we do though is use UTC, then ignore time zones altogether, just treat it as a raw date.

Though I see the point about the today/tomorrow kind of confusion.

[2016-05-12 14:30] ashfurrow opened #248 "Consolidate sale ID checking"
Raised by @acjay in [this comment](https://github.com/artsy/metaphysics/pull/246/files/6d57f048e53e89c57fd04bc8f6e830ee25d450c6#r62928543), the jwt query should fetch the `_id` of a sale upfront to avoid spreading the "check `id` and also `_id`" logic throughout the codebase.

[2016-05-14 13:36] alloy opened #256 "API inconsistency"
I found this to be a bit unintuitive:

[code]

Because `Artist.artworks` takes a `filter` parameter, so I would have expected the counts to also take the same `filter` parameter:

[code]

Opinions on me PRing that?

[2016-05-19 18:31] dzucconi commented on #256
Ah great point—I'm down with that yah

[2016-05-19 19:11] alloy commented on #256
Coooool. We’ll PR this once we’ve shipped the first version of Emission.

[2016-05-23 20:33] dblock opened #279 "README says you can try it on staging, but requires a password?"
https://metaphysics-staging.artsy.net/ is prompting for a password :(

[2016-05-25 15:53] orta opened #283 "Re-create the Semaphore integration"
Since this repo went OSS, CI build results should ideally be public.

The only way to do that is to [re-create the project](https://twitter.com/semaphoreci/status/735498351383314434) - I don't want to do this personally, as this is the first time I've started using Semaphor and I have no idea how things are set up.

[2016-05-25 15:54] orta commented on #134
@alloy where did this end up ( I know we use relay in Eigen now )

[2016-05-26 08:36] alloy commented on #134
We do use Relay, but there are certain features we can’t use yet. I will update the original comment with a TODO list.

[2016-05-26 08:49] alloy commented on #134
@mzikherman Can you shed some light on that issue with `_id` on Gravity supporting search by slug, but only on some models?

[2016-05-27 21:04] sarahscott opened #292 "Make sale_message more consistent"
On works that are not for sale, sometimes `sale_message` is 'Not For Sale' and other times it's just null.

[2016-05-27 21:15] mzikherman commented on #292
I think this is as intended?

[2016-05-27 21:33] sarahscott commented on #292
Yes, got clarification from Katarina. Closing this!

[2016-05-27 21:33] #292 closed

[2016-06-02 19:47] dzucconi opened #299 "Markdown should only return a sub-set of tags"
IE: strip `pre` tags: https://www.artsy.net/artwork/battista-angolo-del-moro-hercules-and-the-hydra

[2016-06-02 20:21] sarahscott opened #300 "Find a better way to parse/serve artist.birthday strings"
So that we don't have to do this: https://github.com/artsy/emission/commit/cd882b7050101fdf0ef44a97cf60cbca889b1077

I will be taking this on after we ship v1 of the React Native artist view controller in eigen.

[2016-06-10 23:30] devangt opened #312 "We should paginate bidders in causality JWT"
The key here was that if there are more than 10 auctions a user is registered for than we didn't get the correct registration status putting the user in a pending state of registration

[2016-06-11 13:30] acjay commented on #312
For this, we shouldn't be iterating through the list of all Bidders for the User -- we should instead check whether a Bidder exists for the given Sale. If using `co` (which helps make the dependent fetch a little nicer), we could rewrite https://github.com/artsy/metaphysicshttps://github.com/artsy/metaphysics/blob/master/schema/causality_jwt.js#L47-L71 as:

[code]

I don't have Metaphysics all set

[2016-06-21 19:21] dzucconi opened #326 "Better use of available data instead of making unnecessary requests"
In many cases we blindly fetch an object from Gravity instead of using an already available embedded result that might be present. Currently we sometimes "optimize" for this by passing `shallow: true` where we can be sure of an existing embedded result: https://github.com/artsy/metaphysics/blob/f17563ec3c62190594678999864385ae90b9398c/schema/artwork/index.js#L256-L267

However it's likely possible

[2016-07-01 14:45] orta opened #333 "Add an Artsy user authentication page before GraphiQL"
This should fix the problem related to https://github.com/artsy/metaphysics/issues/279 /cc @craigspaeth

[2016-07-06 12:21] alloy opened #339 "Force queries incompatible with current schema."
After [my change](https://github.com/artsy/metaphysics/commit/545eb4c211641390defdd579affb5066de9c5276) that uses the `ID!` type in most all places instead of `String!`, the queries that Force produces are no longer accepted. This is because Force [uses a ‘query’ function that specifies the type of the argument](https://github.com/artsy/force/blob/dc19927e1476b56c57c49f7bb38094a849d62bf2/apps/arti

[2016-07-06 13:00] alloy opened #340 "[deploy] Send notifications to Slack"
We need Semaphore to send deploy notifications to ~~#platform-alerts~~ #platform-machines (and possibly #web, #gmv-ios-dev) so that:
- others _can_ always know that a deploy occurred
- people looking at #platform-alerts can correlate deploys to :fire:

[2016-07-06 13:04] alloy opened #341 "[Logging] Send out alerts if failing queries increases."
These should already return 4xx HTTP statuses, so NewRelic should simply have a proper error rate alert that notifies us, e.g. in Slack #platform-alerts.

[2016-07-06 13:50] joeyAghion commented on #340
I'd actually send these to #platform-machines or an analogous channel monitored by the Web practice. We try to keep #platform-alerts limited to attention-demanding notifications, since -machines can get noisy.

[2016-07-06 14:19] mzikherman commented on #340
Deploy notifications _were_ being sent to #web, but were disabled yesterday morning (not sure why).

I like them in #web, that channel is overall not too chatty so it wasn't getting lost OR interfering w/ noise.

[2016-07-06 16:58] alloy commented on #340
I guess there’s value in adding them to both locations? If that’s possible at all.

[2016-07-06 17:34] alloy commented on #339
For now I’ve reverted the argument type changes, but I’m leaving this open for discussion on the future direction.

[2016-07-11 15:17] alloy opened #347 "[Home] Recommended can contain duplicate entry."
For the following query:

[code]

I get the following response, where the first and last `results` entry are the same:

[code]

I would expect the entries to be unique. I filed a Gravity ticket for this https://github.com/artsy/gravity/issues/10210.

[2016-07-12 09:50] sarahscott commented on #300
Closed by #338

[2016-07-12 09:50] #300 closed

[2016-07-12 18:07] alloy commented on #347
Fixed in https://github.com/artsy/gravity/pull/10216

[2016-07-12 18:07] #347 closed

[2016-07-13 09:40] alloy opened #350 "[Followed Artists] Move counting fields into `counts` object"
https://github.com/artsy/metaphysics/pull/348#discussion_r70468705

[2016-07-13 09:59] alloy opened #352 "[doc] API design doc"
I’ve started writing up some considerations for the API as we go forward, please fork and add/update to the gist with suggestions: https://gist.github.com/alloy/7e33ca053741a8ebc4ddb3df85597cbd

[2016-07-13 10:56] alloy opened #353 "[Home] Incorrect singular naming of type"
[Currently](https://github.com/artsy/metaphysics/blob/ff832772cce0923c6a504231b097912f763e32b6/schema/home/home_page_module.js#L14) a single module is referred to as `HomePageModules`, whereas I would expect that to be `HomePageModule`.

@broskoski Any reason for this? And as I’m not entirely sure how this will affect force, is this something you can clean up at some point?

[2016-07-13 10:57] alloy opened #354 "[Home] Lack of test suite."
There are currently no tests for the existing home page schema code, this needs to be backfilled.

[2016-07-13 15:21] #353 closed

[2016-07-13 16:58] broskoski opened #358 "Make better use of DataLoader to batch multiple requests"
See https://github.com/facebook/dataloader#caching

[2016-07-14 11:21] mennenia opened #360 "[Home] Artist rail data missing"
When querying for the homepage modules, currently there are no artists based modules in the results, just artworks.

E.g.: there are results like "Works by Iconic Artists" containing artworks, yet no modules like "Recommended Artists to Follow" that would contain a list of artists.

[2016-07-14 11:43] broskoski commented on #360
Yeah we haven't gotten here yet but we were planning on tackling this outside of the HomePageModule schema. The form factor (in our mockups there are three different "tabs") and  the data coming back is going to be a bit different. Also, the rail is always going to be present no matter what. Definitely open to other suggestions but this rail feels different enough that it should be handled elsewhe

[2016-07-14 12:14] alloy commented on #360
I see, so on web you will have 1 rail with three tabs, whereas on mobile we will have 3 rails and no tabs. And you’re right, they will always be at the same locations, so we could just insert those ourselves.

Having said that, I would prefer that we nest it under the `home_page` field, as it _is_ still a home page specific thing. I realise that you might not be using that field yet, but maybe tha

[2016-07-14 12:22] alloy commented on #360
I do feel like the existing `HomePageModule` type and `home_page.module` field (plus the plural ones) should probably be renamed to reflect that they’re about artworks as well then. What are your thoughts?

If needed we can temporarily duplicate the existing code and use new naming under the `home_page` root field and you can shift over at your own leisure?

[2016-07-14 13:14] broskoski commented on #360
I'm flexible. This schema is already pretty weird, using a `GraphQLUnionType` to switch on the results (whether artwork or artists) is just a drop in the bucket IMO.

The difference between 3 rails vs 1 tabbed rail is a bit too weird though, I wish this could be something like a separate schema of its own that could be optionally included in the homepage rails.

[2016-07-14 13:53] mennenia commented on #360
If you were to fetch someone's home feed data to display you'd almost expect in the case of web there to be a dictionary of the three artist rails, whereas for mobile it to be in the list of modules. So it's up to the client to request the content they need and display it where appropriate (e.g. in tabs, or various rails)

In which case I was thinking of one of the following two options:

- `home_

[2016-07-14 13:55] alloy commented on #360
This is my suggestion as well and what I’m building at the moment.

[2016-07-15 15:42] mzikherman opened #363 "[Logging] Improve NewRelic logging"
The traces and request information in NewRelic are pretty poor, they don't _actually_ show any information about the queries or schema that's being requested (or error'ing).

[2016-07-15 16:04] sarahscott opened #364 "Add `size` arg to home page artwork modules"

[2016-07-15 22:01] mzikherman opened #366 "Go thru `isTypeOf` methods and make sure they work with short JSON"

[2016-07-15 22:13] alloy commented on #366
[code]

_I removed the entries that do not come from Gravity._

You already fixed `Partner`, the others seem fine:

[code]

[2016-07-19 10:48] #134 closed

[2016-07-19 10:50] alloy opened #367 "Look into Relay connection cursors"
These are for pagination on associations: https://facebook.github.io/relay/graphql/connections.htm

Need to see if these are usable for other clients too and if they’re easy to add. Otherwise look into if these are really more useful for us.

[2016-07-19 10:50] alloy commented on #134
Moved connections part to a new ticket https://github.com/artsy/metaphysics/issues/367

[2016-07-19 10:52] alloy commented on #118
@mzikherman Didn’t I see you you do work on this recently? Or does this ticket still need more work?

[2016-07-19 13:21] alloy opened #368 "[Home] Determine what artist modules should be rendered."
* These artist modules should _always_ be shown, regardless of authentication status:
  - trending
  - iconic
* The ‘recommended for you’ artist rail should only be shown if:
  - a user is signed in
  - and they have at least 1 artist follow

[2016-07-19 18:31] acjay opened #369 "Add increment policy ID"
Causality sync (for development purposes, not production) needs to know the increment policy ID for a sale, but right now this isn't delivered. We should add this to the schema.

[2016-07-20 00:54] devangt commented on #312
done for now. Individual updates will be tackled with new issues/epics

[2016-07-20 00:54] #312 closed

[2016-07-20 20:50] mzikherman commented on #366
Aces!

[2016-07-20 20:50] #366 closed

[2016-07-22 22:10] #368 closed

[2016-08-05 16:51] sweir27 opened #378 "[Lot Watching] Return whether or not an artwork is saved"

[2016-08-12 15:42] #364 closed

[2016-08-12 15:45] sarahscott opened #384 "Add additional content and followable checks to home page artwork modules"
Ideally the response would provide some sort of context for these cases so they don't have to be individually checked for by the client:

<img width="350" alt="screen shot 2016-08-12 at 5 41 37 pm" src="https://cloud.githubusercontent.com/assets/2712962/17628162/5837dea8-60b4-11e6-9184-77b20b5a906f.png">

So fields like `has_additional_content` and `followable` would be nice. Maybe `is_followed_by

[2016-08-12 15:45] sarahscott commented on #384
@alloy thoughts on this issue appreciated!

[2016-08-12 15:52] broskoski commented on #384
@sarahscott for the related content, it might be useful to look at how we handle this on Force.

For instance, an individual module: https://github.com/artsy/force/blob/master/apps/home_2/queries/module.coffee

`context` is a GraphQLUnion type that is switched depending on the type of module returned. We use these contexts switches to get additional info on the module (e.g. Auction metadata, Relat

[2016-08-12 15:59] sarahscott commented on #384
@broskoski this is super helpful. What about the cases where all works are already provided by `results` and the View All button should be hidden? Does it make sense to check each time if more works exist for that particular module?

[2016-08-13 23:57] alloy commented on #384
@sarahscott

Adding `is_followed_by_user` and `has_additional_content` make sense to me, we need to know if the expand button needs to be shown at render time  👍

I’m not sure what `followable` is meant for, though, can you elaborate?

[2016-08-15 13:23] sarahscott commented on #384
It would be nice to have so I don't have to check every time if the rail needs a follow button (i.e. for a Gene or Artist or Partner vs. Recommended Works), but it could be overkill. I'm just thinking of ways to reduce complexity on the RN side.

[2016-08-22 10:27] alloy commented on #384
Oh I see. Hmm, that does feel a bit like overkill, as the switch statement for it would likely be very simple. Let’s keep it in the client for now and review afterwards if the amount of complexity warrants extraction or not.

[2016-08-25 17:13] bhoggard opened #391 "Add event_start_at and event_end_at for auctions"

[2016-09-13 11:43] sarahscott opened #410 "Add more nuance to modules API for number and type of rails"
Currently, we can use the [max_rails](https://github.com/artsy/metaphysics/blob/master/schema/home/home_page_artwork_modules.js#L31) arg to specify how many rails we want, but we have no control over what the extra rails are. The mobile home spec calls for unlimited generic gene rails, for example, but not necessarily unlimited rails of any type. We've solved this temporarily by setting `max_rails

[2016-09-26 17:38] #391 closed

[2016-09-27 17:52] alloy commented on #54
Yes, I agree we need to do this. Right now there are errors being served to Eigen that will silently break views, we should now of these data issues asap.

I don’t think we should return non-successful status codes, but it should be possible to just log errors with NewRelic [through their API](https://github.com/CocoaPods/trunk.cocoapods.org/blob/770269223fee22fb744477ffe3194bb4776c910c/app/contro

[2016-09-27 17:56] alloy commented on #54
Seems like we should be using [this API](https://github.com/artsy/artsy-newrelic/blob/e516296fde0f1edf2f41286eadf0267dde850f7a/index.js#L22).

[2016-10-05 12:40] #54 closed

[2016-10-07 20:50] mzikherman opened #428 "Don't send 404s to NewRelic"
Re: https://artsy.slack.com/archives/platform-humans/p1475855114005578

[2016-10-07 21:09] alloy commented on #428
Fixed by https://github.com/artsy/metaphysics/pull/429

[2016-10-07 21:09] #428 closed

[2016-10-13 11:15] alloy opened #438 "[Home] Change popular artists to be based on follows."
Regarding [this code](https://github.com/artsy/metaphysics/blob/7fd53557de1bb22dc230566e5ccfe7094987980e/schema/home/fetch.js#L39-L49)

* The delta data on number of searches will be removed and its use should be replaced by number of follows. See https://github.com/artsy/gravity/pull/10480#discussion_r83184851
* In addition, the term ‘iconic’ has been replaced by ‘popular’, so maybe also clean th

[2016-10-13 11:23] alloy commented on #438
@mzikherman I’m wondering if Force also fetches artist data along with [these artworks](https://github.com/artsy/metaphysics/blob/0a5e5ea1aee078a6c7dd627420e8c4c611abb326/schema/home/results.js#L20-L29)? If so, I think we can change this code to not call delta directly, but instead use the Gravity endpoint for [popular artists](https://github.com/artsy/gravity/blob/4e76c1e8fe3ee67e41317ecf6d39a90c

[2016-10-14 14:31] orta opened #440 "Consolidate artwork queries to using multiple routes"
There are multiple ways to query artworks on gravity, so we want to be able to handle them transparently behind the scenes depending on the fields in the query.

For example

[code]

Would use the `filtered_artworks` query routes, but if you had something like:

[code]

It would handle the query on a different route, perhaps `api/v1/gene/artworks` for example.

---

The tricky thing may be making

[2016-10-14 16:47] alloy commented on #440
Not sure if this is what you mean by the tricky bit, but one issue I see is with the additional 'hits' field that hosts the artworks vs without the filter.

[2016-10-17 13:57] alloy commented on #440
@orta @mzikherman Been thinking about the above mentioned issue a bit more, what about if we switch to the Relay [‘Connections’ specification](https://facebook.github.io/relay/graphql/connections.htm) for associations? It adds a bit more ceremony, but it does allow arbitrary metadata on _any_ association, such as e.g. [a count](http://stackoverflow.com/a/34192654). This would for the unfiltered an

[2016-10-17 20:59] orta commented on #440
We're going to need this eventually, is it something we can do that's backwards compatible - e.g. if we release Wednesday, can the API stay the same?

[2016-10-18 07:13] alloy commented on #440
Yeah then we can add it as the 'artworks' field end deprecate the 'filtered_artworks' field.

[2016-10-19 13:32] #438 closed

[2016-10-19 13:45] alloy opened #447 "[Home] Need to be able to show multiple/all followed genes."
Re https://github.com/artsy/emission/issues/321

The max should default to 1 on Force, otherwise it should be limited to the number of rails the user actually follows.

[2016-10-20 09:29] alloy opened #449 "[Home] Optimise random works queries"
* [Gallery](https://github.com/artsy/metaphysics/blob/56d8fffa3287ba8e651cf447539452945190caf9/schema/home/results.js#L38-L45)
* [Fair](https://github.com/artsy/metaphysics/blob/56d8fffa3287ba8e651cf447539452945190caf9/schema/home/results.js#L68-L80)
* [Gene](https://github.com/artsy/metaphysics/blob/56d8fffa3287ba8e651cf447539452945190caf9/schema/home/results.js#L88-L100)

MongoDB does not have b

[2016-10-20 10:48] #447 closed

[2016-10-20 14:36] cavvia commented on #449
I'm just wondering what use case requires the selection of random works? Are you interested in rotating content? It doesn't sound like an optimal ranking strategy for most contexts I can think of.

Sorting by descending merchandisability, iconicity, or creation date are some of our other options. The `v1/filter/artworks` endpoint also supports a `-decayed_merch` sort which combines artwork freshne

[2016-10-20 15:15] alloy commented on #449
Aye, yeah, it’s about rotation, but specifically on each reload, as discussed during the home personalisation talks: https://docs.google.com/document/d/1QJ5NNK_LqVwomlqIg3MOojtRxgTxg9ky4q6ynfPrrUg/edit#heading=h.xn6uqaz56o0r

[2016-10-20 16:02] joeyAghion commented on #449
I agree that we probably don't want truly random results, but we might want a variety from the "best" likely candidates (e.g., using some of the sorts @cavvia mentions). If we can accomplish this with existing `page`/`size` parameters to skip a small number of results, I wouldn't be too worried about performance. If we really want to skip to a random result in the collection (i.e., skipping a very

[2016-10-21 10:46] alloy commented on #449
@joeyAghion I’m unsure what the preferred option is that you’re referring to. Is it option 3 where we implement a version similar to what MP does on Gravity or are you suggesting we do fetch 3 times the data from Gravity than is actually being requested by the client?

[2016-10-21 14:00] joeyAghion commented on #449
I was just suggesting that we sort by something meaningful and then index randomly into the early pages (e.g., `fairs?size=5&page=[1-10]`, similar to (2) but using existing parameters). But now that I look at the examples you link to, I realize there may not be enough data to page significantly. Maybe (3) [or basically what MP does now] is best in the short term. Returning 60 results for each row

[2016-10-21 14:37] mzikherman commented on #449
Yea, I think the sentiments @cavvia and @joeyAghion sound like the right track.

We've done the random attribute thing, as I think that may be the only way to really get a random shuffling from a bigg-ish collection. The potentially large arbitrary `skip`/`offset` can get super slow and you wind up not really using indexes properly.

I think (3) sounds like the most reasonable option, pretty much

[2016-11-13 04:15] alloy opened #473 "[PartnerShow] Nested under an artist, may include non-displayable shows"
Re https://github.com/artsy/eigen/issues/1873

While a single partner show [will be verified to be displayable](https://github.com/artsy/metaphysics/blob/6bbb98f4640861c6fa0e61a84dd40e0872218136/schema/partner_show.js#L273), shows nested under an artist [do not](https://github.com/artsy/metaphysics/blob/6bbb98f4640861c6fa0e61a84dd40e0872218136/schema/artist/index.js#L464-L468). This leads to cases

[2016-11-13 16:12] #473 closed

[2016-12-06 19:29] alloy commented on #410
This got done in https://github.com/artsy/metaphysics/commit/84e0a592fe2f303372c5fbb79434c3ce48032cfe

[2016-12-06 19:29] #410 closed

[2016-12-06 19:55] alloy commented on #9
I’m thinking that instead of adding an option we should maybe never cache sale artworks, if those are the ones that we always run into this problem with.

Any thoughts on this @sweir27 ?

[2016-12-06 19:56] alloy commented on #9
For now I’m closing this.

[2016-12-06 19:56] #9 closed

[2016-12-06 20:02] alloy commented on #82
@1aurabrown Would this have been the better fix for https://github.com/artsy/force/pull/418 ?

[2016-12-06 20:12] alloy commented on #83
E.g. https://github.com/artsy/metaphysics/blob/0d7c2cb996c707071103a9ea0d36aa5327aaf5c8/schema/input_fields/event_status.js
https://github.com/artsy/metaphysics/blob/0d7c2cb996c707071103a9ea0d36aa5327aaf5c8/schema/sorts/artist_sorts.js

And then this should probably be a Danger rule. /cc cough @orta cough

[2016-12-06 20:17] alloy commented on #96
@joeyAghion @mzikherman Should ‘platform’ pick this up? And should it be done soon or some undetermined time in the future?

[2016-12-06 20:17] alloy commented on #101
It’s a doner

[2016-12-06 20:17] #101 closed

[2016-12-06 20:18] alloy commented on #118
Assuming this is done.

[2016-12-06 20:18] #118 closed

[2016-12-06 20:19] alloy commented on #122
Since FB hasn’t actually open-sourced any of their solutions for this yet and we haven’t run into an immediate need yet, this can be closed for now.

[2016-12-06 20:19] #122 closed

[2016-12-06 20:24] joeyAghion commented on #96
@alloy looks like we made some changes as a result of this: https://trello.com/c/656uauKM/1461-upgrade-metaphysics-cache (private link).

We can still capture some savings but important to understand if the situation has changed since then and by how much $. There's an open question on that card, BTW.

I don't think this has to drive a switch from Heroku to Opsworks, since we can switch memcache p

[2016-12-06 20:27] alloy commented on #175
[MP](https://github.com/artsy/metaphysics/blob/4e15e5910486d907f1c2bcb00b39dd725a1d3c89/schema/artwork/utilities.js) and [Eigen](https://github.com/artsy/eigen/blob/ac948a350184f9fd64aa5c6217e5f6f8119b0375/Artsy/Models/API_Models/Partner_Metadata/Artwork.m#L270-L273) both have a bunch of heuristics to determine whether or not these works can be shown in a ‘view in room’ scene. I wonder if it isn’t

[2016-12-06 20:33] alloy commented on #227
For Emission it definitely makes sense to set a default through a header.

[2016-12-06 20:36] alloy commented on #279
Totes, but going to close this one in favour of #333.

[2016-12-06 20:36] #279 closed

[2016-12-06 20:36] alloy commented on #333
@orta Do it!

[2016-12-06 20:38] alloy commented on #283
This makes sense and based on what @broskoski tells me this shouldn’t be too hard. @craigspaeth can you pick this up?

[2016-12-06 20:40] joeyAghion commented on #175
I think it would be great to promote this logic to the API, assuming there's shared meaning to agree on. We probably can't completely eliminate the client logic, since different clients may have different concepts of what's "too big." (Also I don't want to step into anything controversial w.r.t. non-flat hanging pieces or sculptures that can be "viewed in room.")

[2016-12-06 20:41] alloy commented on #299
Let’s re-open when this when a concrete issue pops-up.

[2016-12-06 20:41] #299 closed

[2016-12-06 20:46] alloy commented on #326
This sounds like a good idea, but as is always the case with optimisation, I’d first like to know how much impact this would actually have in our case.

[2016-12-06 20:47] alloy commented on #339
Just going to make sure during PRs, going forward, that people think about their IDs and whether or not they may be `NULL`.

[2016-12-06 20:47] #339 closed

[2016-12-06 20:48] alloy commented on #340
It’s a doner

[2016-12-06 20:48] #340 closed

[2016-12-06 20:49] alloy commented on #341
We log errors, but we disabled NewRelic’s alerting because it was too noisy at first. I _think_ we can try enabling it again, unless you have any objections @joeyAghion?

[2016-12-06 20:50] alloy commented on #352
This is going to be fine now that we have many more 👀 on it.

[2016-12-06 20:50] #352 closed

[2016-12-06 20:50] alloy commented on #354
Doner

[2016-12-06 20:50] #354 closed

[2016-12-06 20:52] alloy commented on #360
Such a doner

[2016-12-06 20:52] #360 closed

[2016-12-06 20:52] alloy commented on #363
Oh yes they do now.

[2016-12-06 20:52] #363 closed

[2016-12-06 20:54] alloy commented on #367
Yes we totally need to, however that’s quite evident when we work on it, so closing for now.

[2016-12-06 20:54] #367 closed

[2016-12-06 21:04] joeyAghion commented on #341
New Relic alerting is already enabled and we do occasionally receive notifications in the #platform-alerts Slack channel when the error rate exceeds its thresholds (1% for 10 minutes or 5% for 5, I believe). Most errors still appear to be 4XX-like.

Are you sure about that⬆️? I thought responses were always 200s due to the difficulty of interpreting response codes cascading from potentially-multip

[2016-12-07 01:18] alloy commented on #341
It’s hard to say, but I think I meant that we were already reporting 4XX HTTP statuses to NewRelic.

Thanks for the update, closing this!

[2016-12-07 01:18] #341 closed

[2016-12-07 01:28] alloy opened #489 "[Optimizations] Try to reduce peak memory usage"
Besides our throughput going down when under pressure, we’d also like to run on smaller Heroku dynos.

@craigspaeth Can you paste dump any of your current investigations here?

[2016-12-07 01:30] alloy commented on #96
Thanks @joeyAghion, that makes a lot of sense. I’m going to first see if we can get our dyno requirements scaled down a bit and, if needed, we can revisit this idea in the future.

[2016-12-07 01:30] #96 closed

[2016-12-07 01:40] alloy opened #490 "[Homepage] Add missing artworks rail for artist on which basis other artist is suggested"
As noted by @briansw [here](https://github.com/artsy/force/issues/79#issuecomment-265288454), we currently only show the rail with artworks for the suggested artist, but are omitting the artwork rail for the artist that the suggestion is based on.

[2016-12-07 01:57] craigspaeth commented on #489
It appears we have an occasional run-away memory leak not obviously associated with spikes in throughput.

![image](https://cloud.githubusercontent.com/assets/555859/20951389/77c83390-bbf3-11e6-84f1-158011f61a72.png)

I do see a correlation in Gravity response time with the most recent memory spike, but as you can see below it doesn't correspond with the prior two spikes:

![image](https://cloud.g

[2016-12-07 15:35] alloy commented on #489
I agree that we need this first, we need to be able to reproduce the leak to diagnose it.

I’ll get on that first.

[2016-12-07 15:39] alloy opened #492 "[Optimizations] Add per-request GraphQL logging to NewRelic"
Related to #489.

Right now we only log GraphQL queries when errors occur, but we should just be reporting them for each request so that we can get insights into what queries might need optimising or fixing (in the case of a memory leak).

[2016-12-07 19:11] alloy commented on #175
Agreed, I’m thinking we just take extract the intersection of the heuristics that are being used in both places right now. I think this specific case that the ticket was about would apply to both as well, but that’s definitely something to check.

[2016-12-12 18:06] mzikherman opened #497 "is_price_range should be false for multiple editioned works at distinct price points"
re: https://github.com/artsy/collector-experience/issues/66

[2016-12-12 19:37] xtina-starr commented on #497
@mzikherman question regarding this, if `sale_message` takes into account the edition sets and whether they are sold or should be displayed as a range, wouldn’t that be the case for price as well? Since they are both using `display_price`. I’m unclear about what the addition work would be here. I'm thinking if there are two sets and one is sold like `sale_message` wouldn't `price` also take that i

[2016-12-13 03:36] mzikherman commented on #497
Closed in https://github.com/artsy/metaphysics/pull/498

No additional work needed!

[2016-12-13 03:36] #497 closed

[2016-12-21 16:54] broskoski commented on #490
@briansw is this rail supposed to use the artist the `relatedArtists` rail is based on? Or should it use a completely different followed artist altogether?

[2016-12-21 17:05] briansw commented on #490
i think we're capping the success of it a little if we always keep them in sync. ie, we display a weak follow for the user and now the suggestion is also based on the weak follow. if it’s a lot of work to make an extra request just do it that way for now though.

[2016-12-22 20:38] alloy commented on #490
@briansw I’m slightly surprised by that, in the sense that I can totally imagine the case where I have no recollection that I follow the artist that the rail is based on. I do get your argument regarding possibly surfacing a weak suggestion, but in that case I wonder if the “based on X” copy is helpful/good enough.

[2016-12-23 17:15] alloy commented on #492
Rather than hand-rolling instrumentation for NewRelic now, I’m thinking we should probably give Apollo Optics a try http://www.apollodata.com/optics

https://github.com/artsy/metaphysics/pull/511

[2016-12-23 17:15] alloy commented on #492
If the Apollo Optics test doesn’t pan out, I’ll probably make something for NewRelic like this: https://eatcodeplay.com/graphql-performance-monitoring-with-new-relic-20070571a5d2#.jwox2zlj8

[2017-01-03 15:18] alloy opened #515 "[Optimize] See if the Apollo Optics data gives us good insights."
https://optics.apollodata.com/service/metaphysics

@mzikherman @xtina-starr Can you take a stab today at pairing up and see if you can use the Apollo Optics data to actually improve the performance of one of the more costly resolvers/fields?

[2017-01-03 20:32] alloy commented on #490
@briansw bump

[2017-01-03 21:20] briansw commented on #490
Let's keep the copy "Based on X" even though the previous rail won't be directly related, I think it still helps to contextualize why we're suggesting the artist.

[2017-01-03 22:45] #490 closed

[2017-01-06 15:19] alloy commented on #515
@mzikherman and @xtina-starr were able to do some small optimizations, so we decided to give it a longer try, if the price is right.

@xtina-starr can you send out that email today?

[2017-01-06 15:24] alloy commented on #358
@mzikherman @xtina-starr This is what I was referring to the other day.

[2017-01-06 15:26] alloy commented on #82
@1aurabrown bump

[2017-01-06 15:29] alloy commented on #384
@sarahscott @broskoski what are your thoughts on this nowadays?

[2017-01-06 15:31] xtina-starr commented on #515
@alloy sure thing, that's on my to do list.

[2017-01-10 16:20] #350 closed

[2017-01-10 21:13] mzikherman commented on #333
sorry @orta @l2succes is taking this!

[2017-01-11 14:41] 1aurabrown commented on #82
@alloy I'm not sure I totally understand. The issue with the tall artworks is that the image version being used was not sufficiently large for the space the image needed to occupy, but for the vast majority of artworks is bigger than necessary. Since my query is fetching the artwork's url for a certain version, not sure how to look at the available versions first without making two subsequent quer

[2017-01-11 14:53] 1aurabrown commented on #82
I would say, for that issue, perhaps we should do as joey suggested -- maybe we can make an image version that, no matter what the aspect ratio, is always the same width. a width that is wide enough to accommodate our three-column view without up-sampling. That way we won't won't have pixellated images, nor would we have to request an unnecessarily large image version for all images that aren't sk

[2017-01-11 15:05] alloy commented on #82
Yeah that does sound like a good initial step.
 I actually don't like at all that the client has to pass in a versions besides just the requested crop/fit size.

[2017-01-11 15:11] 1aurabrown commented on #256
@dzucconi @alloy so how exactly should this work? counts has many sub-fields, so we would have one called `artwork` that takes a filter, from the same set of Enums as the `artworks` field on the artist itself? and if no filter is specified on `artist.counts.artworks` it should apply the same, if any, filter used on `artist.artworks`?
ie
[code]
[code]
[code]

i'm not sure that this is any clearer t

[2017-01-11 15:30] alloy commented on #256
It's definitely not a 'necessary' thing, it's just the the API is currently leaking details of its implementation to the client, rather than offering a consistent one.

You should definitely weigh the pros and cons, but this week I'd suggest you do that with your team members that are in the office instead.

[2017-01-12 13:06] 1aurabrown commented on #82
i agree that if you are resizing, the smallest sufficient source image should be used. i'm not sure how cropping works exactly, because the area cropped is independent of how big the final image would be (for example, i could crop the upper right quadrant of an image, at various sizes, from icon sized to full-res)

in this case, if it's fine to just used a standard image version instead of a resiz

[2017-01-12 13:09] 1aurabrown commented on #256
@mzikherman what's your two cents? is what i'm saying making sense? personally i think it's kind of weird to have the value for `counts.artworks` change based on parameters passed to a sibling, not a parent. it would also mean this if you want all three types of artwork `counts`, you'd have to format the query differently depending on whether or not you are additionally querying `artworks` with a

[2017-01-12 16:10] #83 closed

[2017-01-13 03:10] alloy commented on #82
Does Gemini actually support that _and_ do we actually use that anywhere?

[2017-01-17 13:42] 1aurabrown commented on #227
I don't totally understand how this would be different from what we already do on the client with, for example, auctions. I'm happy to pick this up though! Just want to 'get it'.

[2017-01-17 14:06] alloy commented on #227
Instead of specifying the client's TZ in [each field that returns a date](https://github.com/artsy/metaphysics/blob/0a5e5ea1aee078a6c7dd627420e8c4c611abb326/schema/fields/date.js#L11:L13), the client should be able to specify a HTTP header with its TZ and then MP should use that as the default for all such date fields

[2017-01-17 15:08] 1aurabrown commented on #227
got it!

[2017-01-18 13:18] 1aurabrown commented on #227
Just wanted to clarify some stuff about the formatting of dates which might determine implementation. Do we want to use words like 'Yesterday' and 'Today' and 'Tomorrow' when applicable? moment.js has two different functions, one which accepts a format, and applies it to the date, and once which can be customized with several formats, depending on if the moment is long in the past, within the past

[2017-01-18 13:26] 1aurabrown commented on #227
Also assuming we want a version of this for date ranges, which can also accept a format?

[2017-01-23 20:45] xtina-starr commented on #515
Just finished a call with the folks at Optics. This tool seems to be pretty early in the development process and doesn't quite meet the needs of our particular use case. We were looking for something that could provide daily monitoring (offering an alert component and an efficient way to determine performance spikes). We also felt this tool would be more helpful if it included the ability to add a

[2017-01-24 13:14] #227 closed

[2017-01-24 15:49] #515 closed

[2017-01-28 20:48] alloy opened #532 "[Relay] Make most all root fields available through `viewer` field."
Rather than defining them one-by-one on the Viewer object, maybe we can future-proof this by sharing common root fields. See https://github.com/artsy/metaphysics/pull/531#issuecomment-275872962

[2017-01-30 16:58] 1aurabrown commented on #333
I'm taking this since it's been sitting here, someone tell me if they have any objections.

[2017-01-30 17:36] mzikherman commented on #333
@l2succes I think you mentioned you had this in-progress on a branch, but was blocked b/c of the redirect issue?

I just enabled redirects for this client app (taking credentials from Heroku) to `localhost:5001` (note 5001 port). Once we have that working on your branch we can PR it, and include a migration in the PR to enable redirects to `metaphysics-production.artsy.net` and `metaphysics-stagin

[2017-01-30 17:44] l2succes commented on #333
@mzikherman Perfect, I'll go ahead give try it a shot with `localhost:5001`.  I'll let you know if anything comes up but should be able to finish it up in the next day. I'm also working on some stuff on emission so if it takes too long I'm happy to pass it to you @1aurabrown.

[2017-01-31 20:07] mzikherman opened #535 "Works that are inquireable but 'unavailable' should be excluded from purchase requests"

[2017-02-07 14:02] 1aurabrown commented on #535
ie `is_purchaseable` should be false?

[2017-02-07 17:42] broskoski opened #543 "Implement connection interface for artist -> artworks"

[2017-02-07 19:12] orta commented on #543
<3 - looking forwards to reading this ( will need it in the Gene too )

[2017-02-08 18:14] #543 closed

[2017-02-09 13:06] alloy opened #546 "Make count fields plain integers."
### TL;DR

In short, I would like us to use a plain `GraphQLInt` for `counts` fields. I don’t really see a need to be able to format a count in MP, but would like to know if others have objections.

----

As we move to TypeScript and convert MP’s schema to type declarations, we’re running into the issue that for many (all?) of the `counts` fields we have, the resulting type declaration is `number

[2017-02-14 16:17] alloy commented on #535
Fixed

[2017-02-14 16:17] #535 closed

[2017-02-14 18:33] mzikherman opened #549 "Retrieve historical inquiries for a user (scoped under me)"
For https://github.com/artsy/collector-experience/issues/86#issuecomment-278797200 (inquiry section), we need to be able to retrieve a list of inquiries for 'me'.

[2017-02-14 19:16] alloy commented on #549
Should probably do this as a Relay connection, see e.g. #544

[2017-02-16 11:42] alloy commented on #546
The field that actually uses this type is the [numeral](https://github.com/artsy/metaphysics/blob/master/schema/fields/numeral.js) one.

[2017-02-16 15:25] 1aurabrown commented on #546
We do in fact take advantage of the string formatting and label parameters in a few places, just in force:

https://github.com/artsy/force/blob/master/apps/artwork/components/artist_artworks/query.coffee#L7
https://github.com/artsy/force/blob/master/apps/artwork/components/partner/query.coffee#L21
https://github.com/artsy/force/blob/master/apps/artwork/components/partner_artworks/query.coffee#L7

[2017-02-16 15:28] 1aurabrown commented on #546
as well as here: https://github.com/artsy/microgravity/blob/master/apps/artwork/components/related_artworks/queries/partner_query.coffee#L7

[2017-02-16 15:32] mzikherman commented on #546
I'm sort of into having the counts be able to be formatted on Metaphysics, either by default or with some params. If we want the raw field as well that could be supported.

It seems likely that most clients will want the ability to use the counts in a 'sentence' (ie- 1 work, 2 works), with pluralization. Why not let Metaphysics do that?

I see the example you posted, but that seems like an oddly s

[2017-02-16 15:35] 1aurabrown commented on #546
We could also add a `not_for_sale_works` `count` field that does the math for `not_for_sale_works = artist.counts.artworks - artist.counts.for_sale_works` _before_ calling `numeral`

[2017-02-16 16:31] alloy commented on #546
@1aurabrown Good sleuthing 👌

I like this idea, but I’m not sure how we’d migrate to it, as it would break existing use of those count fields completely. Alternative thoughts?

It wouldn’t really solve the issue in our case, which is to use the count to test whether or not we’ll show a component.

I’d like having this field in the schema regardless, though 👍

[2017-02-16 16:32] alloy commented on #546
@mzikherman It’s more about defining a clear API imo. Nonetheless, it’s going to be less of a mobile specific issue real soon in reaction-force 😉

[2017-02-16 16:43] 1aurabrown commented on #546
@alloy in the case of `not_for_sale_works`, if you requested that count without the format or value params, wouldnt the json response for that field just be an integer as far as the client is concerned? therefore if we did the math on metaphysics and had these same optional formatting params, you could request that count without those params and get an integer (as far as the client is concerned) t

[2017-02-16 16:44] alloy commented on #546
Maybe this will actually become less of a problem as we start adding more Relay connection fields, because, correct me if I’m wrong @broskoski, connections also provide metadata such as the total count of the connection as an `Int`.

[2017-02-16 16:48] 1aurabrown commented on #546
I'm confused -- what is the problem TypeScript would have with these values:
![screen shot 2017-02-16 at 5 47 46 pm](https://cloud.githubusercontent.com/assets/3171662/23031116/2607349c-f470-11e6-85ad-2729f27a19da.png)

[2017-02-16 16:49] broskoski commented on #546
@alloy Not automatically. `pageInfo` only returns cursors (`startCursor` and `endCursor`) as well as whether there are more page results or not. See: https://facebook.github.io/relay/graphql/connections.htm#sec-undefined.PageInfo

[2017-02-16 16:50] alloy commented on #546
@1aurabrown Yeah you’re totally right, of course, but that’s an _at runtime_ detail, the issue comes into play when we want a compiler to be able to know the exact type we expect a field to to return _at compile-time_.

For example, in our current [untyped code](https://github.com/artsy/emission/blob/0eaa5c091974c73ae30119e7c88ed7f1df398fad/lib/components/artist/artworks/index.js#L27-L29), we just

[2017-02-16 16:53] 1aurabrown commented on #546
yeah, i see i see.

[2017-02-16 16:56] alloy commented on #546
Well, I can’t come up with a good solution, other than renaming the current fields to e.g. `formatted_for_sale_artworks` and re-type the existing `for_sale_artworks` field to plain `Int`.

I’m ok with letting this simmer and see if we can solve this otherwise in the client, unless other people think that added ‘formatted’ fields is a good way to go.

[2017-02-16 16:57] broskoski commented on #546
+1 for formatted fields

[2017-02-16 16:57] 1aurabrown commented on #546
yeah, even that would be a breaking change for these clients because `for_sale_artworks` would be returning something different than the clients currently expect (id 3 instead of '3 works') so we'd have to time this all across clients

[2017-02-16 16:57] broskoski commented on #546
To clarify, I'm for keeping the formatted fields.

[2017-02-16 16:58] 1aurabrown commented on #546
@broskoski what are your feelings on the matter/

[2017-02-16 16:59] alloy commented on #546
@1aurabrown Yeah totally, the only difference is that we actually _can_ control the deployment of the other clients (web apps), albeit a lot of orchestration work, but we cannot easily control what version of Eigen people have installed on their iPhone.

[2017-02-16 16:59] broskoski commented on #546
I think it makes more sense to add a raw field that can be typed if we want to make things nice for TypeScript. There are still a lot of places in Force that use these formatted arguments, and making this stuff easier (i.e. de-duplicating simple formatting functionality) was the primary purpose of building Metaphysics.

[2017-02-16 18:37] alloy commented on #546
@broskoski Good point, we can just prefix the into fields. Maybe as another nested field? E.g.

[code]

Not a big fan of the word 'raw', though.

[2017-02-21 11:49] alloy opened #552 "Retrieve confirmed purchases."
In addition to https://github.com/artsy/metaphysics/issues/549, we also want to be able to include whether or not the collector bought the work.

We’re not entirely sure where this data lives and if there’s already an API from where to fetch this. Is it Impulse? @ashkan18 do you know?

[2017-02-21 11:50] alloy commented on #552
Still needs estimation.

[2017-02-21 13:17] ashkan18 commented on #552
Currently this data is [a status](https://github.com/artsy/gravity/blob/master/app/models/domain/inquiry_request.rb#L18) on `InquiryRequest` model, we are thinking of moving that out of Gravity and move it to Impulse but thats not happening yet.

This status is currently set manually by Stas's team in Torque.

[2017-02-21 14:31] alloy commented on #552
Thanks, @ashkan18 👍

[2017-02-21 14:37] ashkan18 commented on #552
Not sure if it makes it easier in this case, but what also worth mentioning is, updating an inquiry request to that status will [create](https://github.com/artsy/gravity/blob/master/app/models/domain/artwork_inquiry_request.rb#L27-L31) a new [`Purchase`](https://github.com/artsy/gravity/blob/master/app/models/domain/purchase.rb). If we are trying to show if a purchase has happened by this collecto

[2017-02-21 14:40] alloy commented on #549
We want to list _all_ inquiries that a collector has made (i.e. including for works that are now marked as unpublished, deleted, etc).

[2017-02-21 14:41] alloy commented on #552
We’re fetching all of the inquiries and want to additionally know their statuses, so this status field seems perfect.

[2017-02-21 14:59] 1aurabrown commented on #549
i don't want to include fields that are meant to be internal only, but i supposed these would not be returned from gravity in the first place if they should not be public

[2017-02-21 14:59] 1aurabrown commented on #549
![screen shot 2017-02-21 at 3 58 09 pm](https://cloud.githubusercontent.com/assets/3171662/23170231/c5546452-f84e-11e6-9b23-c7340bd1d55a.png)

[2017-02-21 15:37] alloy commented on #549
I think we only need to really expose:

* `inquireable` the embedded artwork
* A boolean field that derives from `status` and `user_reported_outcome` whether or not the inquiry is reported to be sold (by either Artsy or the collector themselves).

[2017-02-21 17:27] alloy commented on #549
After our sprint planning, it appears that we don’t need to include _any_ status information for now. Correct me if I’m wrong.

[2017-02-22 14:59] 1aurabrown commented on #549
@alloy ok, then will be only be fetching inquiries which have not been confirmed purchased by stas/some status entry? are we or are we not fetching works that are self-reported as purchased but not confirmed by stas in the same manner? only works with no self-reported purchase and no confirmed purchase status?

[2017-02-22 16:45] #333 closed

[2017-02-22 17:12] alloy commented on #549
As discussed offline, we only need to be concerned with fetching _all_ of a user’s inquiries and really only return their embedded artworks.

[2017-02-22 21:02] joeyAghion commented on #333
I'm concerned about sending the public to our staging environment. We discussed this in a few separate channels, but I'll try to summarize:
* I'm _especially_ concerned about offering a UI for easily querying our staging API. We track API clients for tracking and potential rate-limiting purposes, but all of these requests appear as coming from Metaphysics.
* Even setting that aside, the staging en

[2017-02-22 21:19] alloy commented on #333
I would be very surprised if more than the occasional person that’s trying to learn GraphQL would use this, other than maybe a small uptick of the 50 or so people that will fave one of the tweets (it’s more likely that more people will fave/retweet than actually use the UI).

I hear you on not being able to track that well, though, as it’s all just requests from MP. For now, can we just keep an ey

[2017-02-23 14:20] 1aurabrown commented on #549
So, we need to be able to get the total count of expected results. This is available in a header from gravity. metaphysics currently doesn't pass header data in the promise resolution: https://github.com/artsy/metaphysics/blob/master/lib/loaders/authenticated_http.js#L11-L12

We could make some alternative method that resolves with both headers and body, but then we'd also have to think about how

[2017-02-23 14:42] alloy commented on #549
You could probably just pass headers as the second param of the `Gravity` function without breaking compatibility with other existing code.

[2017-02-23 14:43] alloy commented on #549
(Err, I meant the promise returned from the function.)

[2017-02-23 16:44] 1aurabrown commented on #549
@alloy the resolve value must be one object--we can't do `resolve(body, header)`. I could do `resolve({body: body, header: header})` however then the way we implement `then`s that are chained to this gravity promise would have to be handled differently. they are currently expection the value to represent the body itself, ie `gravity(......).then(body) => #`. They would then have to accept an _obje

[2017-02-23 17:39] alloy commented on #549
Right right, I see now. As we discussed offline, let’s go with a separate `gravityWithHeaders` function for now and discuss from there on.

[2017-02-23 19:33] mzikherman commented on #549
I'm 👍  for `gravityWithHeaders` that will pass `{body: body, headers: headers}`, but why not make the update to `gravity`? It requires changing a lot of places in the code but that shouldn't be too hard with a grep, plus we have specs (and can be on the lookout for NewRelic/errors).

[2017-02-23 20:33] mzikherman commented on #549
Another idea (maybe this isn't such a great one), is to resolve with the body (as we do currently), but just inject the total count into the body? I guess that's more of a band-aid since it doesn't actually leave headers accessible, and also runs the risk of overwriting something with that same name in the API response.

I'm 👍  for `gravityWithHeaders` in that case, or even the global `gravity` up

[2017-02-23 22:48] alloy commented on #549
I’m ok with replacing it all now or going with `gravityWithHeaders` for now, because I’ll soon go through these loaders anyways (to fix their use according to the DataLoader pattern) which is when I could also consolidate this.

[2017-02-24 13:27] 1aurabrown commented on #552
i think we determined that this issue is redundant or obsolete given that we will be launching the collector loyalty email only to a subset of users who don't have inquiries that are not confirmed purchases. i'm going to close.

[2017-02-24 13:27] #552 closed

[2017-02-24 18:43] sarahscott opened #557 "Add artist image url to notifications response"
We would like to have an artist avatar for each notification:

![fd2b62f6-f216-11e6-90c4-d6aadfe69da4](https://cloud.githubusercontent.com/assets/2712962/23316061/37626388-fac9-11e6-91bd-5f01fc19f587.png)

I will ask about notifications with multiple artists; I'm guessing it'll be fine to just select one of them.

[2017-02-24 18:44] sarahscott commented on #557
I can take a stab at this - the url is already included in the gravity `notifications/feed` responses so I'm hoping it'll be pretty straightforward.

[2017-02-28 14:50] 1aurabrown commented on #549
closed by https://github.com/artsy/metaphysics/pull/553

[2017-02-28 14:50] #549 closed

[2017-03-07 17:41] alloy opened #562 "Plan of attack for the memory issues"
- [ ] @izakp is going to setup a new env in our own architecture and route some traffic there
  * Because we need more cache ($)
  * We want more choice in memcache clients, memcachier requires the binary protocol for which there is only 1 client, written by the memcachier people. They do not appear to have a good idea right now what the cause of the socket issues are.
- [ ] We need to make sure F

[2017-03-07 17:42] alloy opened #563 "Batch API requests."
Use DataLoader to batch API calls as described in the docs https://github.com/facebook/dataloader.

[2017-03-08 18:30] mzikherman commented on #562
cc @alloy I took a look at the Reflection/Google crawling behavior to remind myself, here's just a basic rundown of the current setup, sorry for being long-winded:

Through sitemaps, Reflection crawls the site and snapshots rendered HTML, which is basically just the 'above the fold' server-side rendered content, and support for some client-side content loading as well- though I've found occasional

[2017-03-09 19:02] #557 closed

[2017-03-21 12:11] alloy opened #575 "[FilterArtworks] A wildcard price range should not filter any works."
These example should yield identical counts.

## Without specifying a price range

[code]

[code]

## With a ‘any price’ price range

[code]

[code]

[2017-03-21 12:20] alloy commented on #575
Additionally, the price range parameter could do with some documentation. E.g. is it in cents?

[2017-03-28 15:18] alloy commented on #575
This should actually be fixed in gravity.

[2017-03-28 18:55] izakp opened #581 "Fix log volume"
Metaphysics is logging a very high volume to Papertrail and exceeding its account limits every day.

To reduce and de-duplicate logging, please integrate the changes @kanaabe made in https://github.com/artsy/positron/commit/9b552f52899c8ea8cdb5a54382a36e07a650d921 This creates colorized logging of GET requests in a short format.  We should adopt this everywhere express / Morgan is used.

[2017-03-28 19:11] izakp commented on #562
@mzikherman @alloy it would be a good step if we can adopt some tooling around memory profiling here as well.  See: https://github.com/artsy/force/issues/1118

[2017-03-30 18:32] mzikherman opened #585 "Be able to fetch/mutate a user's collector profile"
For loyalty program

[2017-04-07 10:12] sarahscott opened #600 "Fix notifications without artworks"
They shouldn't be sent to clients and maybe indicate an underlying issue?

![screen shot 2017-04-07 at 12 13 43 pm](https://cloud.githubusercontent.com/assets/2712962/24796059/c8d8d184-1b8b-11e7-9fa4-6869f573844d.png)

![simulator screen shot apr 7 2017 12 12 17 pm](https://cloud.githubusercontent.com/assets/2712962/24795953/7a15340c-1b8b-11e7-80ef-694424fb670a.png)

[2017-04-07 10:17] sarahscott opened #601 "Add artist href to notifications bundle"
I can do this in a really hacky way at the moment but it should be done by mp:

![screen shot 2017-04-07 at 12 16 12 pm](https://cloud.githubusercontent.com/assets/2712962/24796132/18554472-1b8c-11e7-8552-fbbfaf648122.png)

[2017-04-07 14:34] mzikherman commented on #600
Unfortunately we don't ever 'recall' notifications. So if a notification was generated for you, but the artwork was later unpublished, you might see behavior like this.

[2017-04-07 14:55] sarahscott commented on #600
Ah ok. So for now maybe we just check in the client for empty `artworks` arrays?

[2017-04-07 14:59] mzikherman commented on #600
Yea, I probably should have mentioned that earlier, but b/c of the big perf impact to try to 'undo' notifications (based on artworks being unpublished/deleted), we never did that.

So yea, I think we need to be defensive about that on the client (not rendering the feed item if there are no artworks). Is that ok to do in RN or does it not play nicely?

[2017-04-07 15:00] sarahscott commented on #600
[Easy-peasy](https://github.com/artsy/emission/pull/477/files#diff-10b56765fff6f55979a359a03190f0a2R24)

[2017-04-12 08:06] alloy commented on #532
Done in #604.

[2017-04-12 08:06] #532 closed

[2017-04-20 18:30] orta opened #616 "Add support for getting a User's saved artworks"
Wanted for Emission, for https://github.com/artsy/consignments/issues/9

[2017-04-20 20:18] orta opened #618 "Use prettier?"
As we have a JS repo, we should consider [moving to prettier](https://github.com/prettier/prettier) which can ensure we never need to faff with what something should look like.

[2017-04-24 17:54] #618 closed

[2017-05-02 15:25] #600 closed

[2017-05-02 15:25] #601 closed

[2017-05-03 02:16] craigspaeth opened #628 "Easy way to report/discover failing queries?"
Logs and NR don't really help in discovering requests that may be failing. For instance it was rather hard to debug [this issue reported in Slack](https://artsy.slack.com/archives/C02CAB1KW/p1493776090098445).

[2017-05-03 07:32] alloy commented on #628
You mean log them to stdout/stderr, right? E.g. with `console.error()`?

[2017-05-03 10:10] orta opened #630 "Convert to TypeScript"
We've already got it in Flow, so it's typed.

[2017-05-03 10:27] alloy commented on #630
![](http://media1.giphy.com/media/l0HlNn8fP06NOpgVW/giphy.gif)

[2017-05-03 11:42] alloy commented on #630
We should probably continue work on gravitype once the initial migration is done so that we can get typed Gravity responses.

[2017-05-08 20:27] mzikherman commented on #283
Switch to Circle?

[2017-05-08 21:05] alloy commented on #283
Oh yes please! 🙏🏽

[2017-05-09 08:06] orta commented on #616
This is in with #633

[2017-05-09 08:06] #616 closed

[2017-06-02 07:35] sarahscott opened #646 "[Messaging] Make it possible to query for a single inquiry"
Something like:
[code]

[2017-06-02 07:42] sarahscott commented on #646
Or `conversation(id: "1234567890")`; whichever makes more sense.

[2017-06-07 09:45] l2succes opened #647 "[Messaging] Expose 'last_updated' field on conversation"
Related: https://github.com/artsy/collector-experience/issues/295

In order to sort conversations by most recently updated in Inbox view, we need to expose this field. So add

`last_updated: "2017-06-01T14:14:35.538Z",`

to

[code]

[2017-06-07 09:55] l2succes opened #648 "[Messaging] Sanitize message for rendering in a conversation"

[2017-06-07 09:58] alloy commented on #648
Shouldn’t this be done in Impulse? I think @joeyAghion even mentioned at some point that SendGrid (?) might provide a library to perform common sanitizations.

Also, our of curiosity, do we have examples yet of what the rendered messages look like before sanitization?

[2017-06-07 10:05] l2succes commented on #648
@alloy Yes I think we could potentially do this in Impulse. Unless it means we'll be tempering with the partner's CMS experience who actually should see the context of the collector submitting the inquiry.

[2017-06-07 10:06] alloy commented on #648
Good point, but that could just be separated from each other. Ideally we wouldn’t even add the “about this collector” stuff in the first place.

[2017-06-07 10:25] alloy commented on #647
To be clear, the sorting should happen in MP, not the client, right? Because otherwise MP won’t be able to paginate accordingly.

[2017-06-07 10:29] l2succes commented on #647
Yup, that's correct, sorting should happen in MP/Impulse.

[2017-06-07 13:12] #647 closed

[2017-06-08 07:01] sarahscott opened #651 "[Messaging] Make it possible to query for an entire conversation"
Right now, we can only get [initial and last messages](https://github.com/artsy/metaphysics/blob/master/schema/me/conversations.js#L77).

[2017-06-13 11:21] sarahscott commented on #646
Fixed by #652

[2017-06-13 11:21] #646 closed

[2017-06-14 08:28] sarahscott opened #657 "[Messaging] Add a mutation for adding messages to a conversation"
Part of https://github.com/artsy/collector-experience/issues/334

[2017-06-15 10:31] sarahscott commented on #651
Partially fixed by #653 , but the messages are only snippets until the Impulse work is done.

[2017-06-15 12:52] sarahscott opened #660 "[Messaging] Make Messages into a connection"

[2017-06-19 08:11] #657 closed

[2017-06-19 11:03] sarahscott commented on #660
Closed by #661

[2017-06-19 11:03] #660 closed

[2017-06-20 14:38] l2succes opened #665 "[Messaging] conversation.last_message should be nullable"
<img width="300" src="https://user-images.githubusercontent.com/296775/27338958-c0f9c100-55d6-11e7-9710-b16771e36e17.png" />

[2017-06-20 17:22] mzikherman commented on #665
I'm gonna close this since it seems like it was b/c of some simultaneous data migrations around encryption happening.

We'll make new inquiries and can re-open or create new schema issues as needed (from a cleaner slate of fresh inquiries).

[2017-06-22 13:56] sarahscott opened #678 "[MSG] Make it possible for clients to query for messages ordered by created_at timestamp"

[2017-06-23 12:01] sarahscott opened #679 "[MSG] Handle null fields in temporary states"
Sometimes Impulse will return a conversation but with certain fields empty (i.e. in the few minutes after you create an inquiry). This results in errors like this in Emission, which expects `last_message` and `initial_message` to be non-null:

![simulator screen shot jun 23 2017 2 00 15 pm](https://user-images.githubusercontent.com/2712962/27481341-5b7b58dc-581c-11e7-8635-d26a2c14a93a.png)

We sho

[2017-06-28 12:18] sarahscott opened #681 "[MSG] Intermediate state between inquiry initialization & inquiry availability"
@mzikherman and @ashkan18 , this is something I've heard about but do not have a complete understanding of - from what I understand, there is a delay between when a user starts to make an inquiry and when the inquiry is fully available from impulse to allow the collector some time to input personal and collection details. This might look a bit awkward in the app because the inbox view will always

[2017-06-28 12:19] sarahscott commented on #681
Also if the delay is actually super short and not worth spending a lot of time thinking about, please let me know! I haven't delved very deeply into this.

[2017-06-28 12:31] ashkan18 commented on #681
Yes, that's true, as far as i understand, this only happens on collector's first inquiry when we wait for them to complete their profile and then we send it. I _think_ [this](https://github.com/artsy/force/blob/8b9ee8ab9c38cbf679719edc0f88aaa27cb30b10/desktop/apps/artwork/lib/inquire.coffee#L9) is the code that does it on Force side. Any subsequent inquiry after your first one should be sent immed

[2017-07-03 13:27] mzikherman commented on #665
Yup I've been noticing this- in the few seconds or so after placing an inquiry, I guess we can retrieve the conversation but `last_message` is null for a bit.

[2017-07-03 13:29] alloy commented on #665
Does it make sense for us to be able to retrieve the conversation while `last_message` is still `null`? Like, can we show anything yet? If not, maybe MP should return `null` for the conversation while `last_message` is still `null`?

[2017-07-03 13:29] mzikherman commented on #665
Looking at the code in Impulse/Radiation a bit more closely, it looks like the Conversation is created in Impulse -> Messages created in Radiation -> Webhook back to create messages in Impulse.

So, we have a whole other step in between the time that a conversation is available in Impulse, and when `last_message` is available in Impulse.

[2017-07-03 13:31] mzikherman commented on #665
Yea I think that's right. If `last_message` is null that means you just initiated the inquiry (and there isn't even any proper messages 'yet') so we should probably just skip those conversations altogether.

[2017-07-10 10:38] cavvia commented on #575
I believe I fixed this in gravity#11140.

[2017-07-10 11:41] alloy opened #687 "[MSG] Add hasActiveBids and hasConversations flags"
The Inbox container component should be able to check if the user has active bids or conversations. This should be implemented in such a way that during the resolve request the DataLoader instance that fetches the actual bid and conversation details is re-used to provide these booleans (i.e. don’t make multiple backend requests to determine the booleans and fulfill the detail requests).

See https

[2017-07-10 13:40] alloy commented on #575
Dope 👍

[2017-07-10 13:40] #575 closed

[2017-08-11 19:13] alloy commented on #687
To be clear, this involves reworking the current [conversations](https://github.com/artsy/metaphysics/blob/99ce253ddad4b556264987c1015f4b383772c7b0/schema/me/conversations.js#L24-L29) and [auctions lot standings](https://github.com/artsy/metaphysics/blob/99ce253ddad4b556264987c1015f4b383772c7b0/schema/me/lot_standings.js#L27-L36) data loading to use separate DataLoader instances, which they don’t

[2017-08-14 20:25] orta opened #705 "Add eslint-plugin-prettier to remove rules related to prettier"
https://github.com/prettier/eslint-plugin-prettier

[2017-08-15 17:50] eessex opened #711 "Add partner to Sale schema"

[2017-08-17 20:07] bhoggard opened #716 "Add filter to retrieve only PartnerShows that have images"

[2017-08-21 15:08] jonallured commented on #687
@alloy in light of #717, I'm not 100% sure where this stands. I think what's left to resolve is how Impulse can tell us total counts, is that right? The work to get the loaders reorganized is complete, correct?

I had some work on this one locally, so I might push it up to see if there's anything worthwhile there.

[2017-08-21 15:44] alloy commented on #687
@jonallured Possibly the largest work item is to make Impulse return counts. The work done in #717 should definitely make it somewhat simpler to do the MP side of things.

Sounds good 👍

[2017-08-21 15:54] jonallured commented on #687
Ok, after rebasing and realizing how simple this might actually be, I pushed up a red commit here:

https://github.com/jonallured/metaphysics/commit/2dcce5a52accde9616434e48c18aa52dbf66c06a

I'm getting `null` back instead of false/true, so I'm doing something wrong, but I'm wondering if Impulse returning counts really matters? If you have no conversations, then the count doesn't matter and if you

[2017-08-21 16:05] alloy commented on #687
If there are no counts then it doesn’t matter indeed, but if there are conversations then we are sending a bunch of data over the wire that doesn’t end up being used. Maybe that’s ok for now, but I’ll defer to @ashkan18 for that decision.

[2017-08-21 16:08] jonallured commented on #687
Cool, I'll defer to him, but I mentioned this to him last week and he pointed me towards the `PaginatedPresenter`:

https://github.com/artsy/impulse/blob/fcb2353b1a8261d2811f83f170135f90991e8906/app/api/v1/presenters/paginated_presenter.rb

Which gets included here:

https://github.com/artsy/impulse/blob/fcb2353b1a8261d2811f83f170135f90991e8906/app/api/v1/presenters/conversations_presenter.rb

So,

[2017-08-21 16:11] mzikherman commented on #687
In that case, I would make the request with `page=1&size=0` params to ensure nothing is loaded or sent over the wire (+ hopefully the `total_count` is still accurate).

That's a pattern we've used before when wanting to make a call _just_ for counts.

[2017-08-21 16:14] jonallured commented on #687
So would that be something like this:

[code]

Can I pass request options like that? Or do I now need to update the `conversationsLoader` to use them?

[2017-08-21 16:56] alloy commented on #687
That should work 👍

[2017-08-21 16:57] alloy commented on #687
So the count gets added to the main response rather than a response header (like gravity does) ?

[2017-08-22 13:01] ashkan18 commented on #687
Sorry for being late on this, somehow missed github notification when i was mentioned here. Yes, Impulse adds `total_count` as part of the response, kind of follows Hypermedia schema, we could also have something in the header if that makes the job easier on this side.

[2017-08-22 14:21] alloy commented on #687
Does it _always_ include that field or do we still need to request it?

[2017-08-23 16:22] tayapage6 commented on #687
@alloy was this for team swap experience only or do we actually need to do this as a showstopper?

[2017-08-23 16:36] alloy commented on #687
@tayapage6 It’s not a showstopper at all, it’s mainly tech debt / maintenance work.

[2017-09-01 20:23] orta opened #725 "Use the credentials from the oauth to allow using GraphiQL without sending the auth headers"
This means that you can use chrome/safari with your auth credentials - see https://artsy.slack.com/archives/C1HH3KNJG/p1504296674000133

[2017-09-05 14:37] orta opened #729 "Remove/Supress logs for sentry in dev mode"
It adds a lot of noise to the console.

[2017-09-18 20:25] orta commented on #729
This was because I had the keys in my dev env.

[2017-09-18 20:25] #729 closed

[2017-09-20 14:04] sarahscott opened #750 "[MSG] Add fields to `lot_standings` to indicate whether auction is live or timed, and if live, provide link"
See https://github.com/artsy/collector-experience/issues/493

[2017-09-22 14:55] #750 closed

[2017-10-04 18:26] orta opened #769 "Make a danger rule about ensuring data loaders are always generated at runtime"
Context: [slack](https://artsy.slack.com/archives/C1HH3KNJG/p1507141513000699)

[2017-10-08 19:55] orta opened #776 "Consider looking at using graph.ql for new schema changes?"
https://github.com/matthewmueller/graph.ql

![https://camo.githubusercontent.com/85907862c0f638b1ec8680dbc983e492d34a19f5/68747470733a2f2f636c6475702e636f6d2f6b596c776555307077792e706e67](https://camo.githubusercontent.com/85907862c0f638b1ec8680dbc983e492d34a19f5/68747470733a2f2f636c6475702e636f6d2f6b596c776555307077792e706e67)

[2017-10-10 16:36] ashfurrow opened #777 "Limit Query Depth"
To prevent overloading Gravity servers, we should limit the depth of our queries.

[2017-10-10 16:49] orta commented on #777
This looks like the right approach: https://github.com/stems/graphql-depth-limit

[2017-10-10 17:18] ashfurrow commented on #777
Cool, I'll take a look at some of the systems that use metaphysics and determine the depth of the queries that are already in use, and send a PR.

[2017-10-10 17:28] orta commented on #777
From looking at this, I think you'll find it really tough to determine by looking (especially considering how our most complex queries are spread out) this for example is a 10:

[code]

I'd recommend adding a PR with a very high value, put it on staging with it logging the complexity

[code]

[2017-10-10 18:32] #777 closed

[2017-10-19 12:36] sarahscott opened #785 "Add HomePageFairsModule"
Related to https://github.com/artsy/collector-experience/issues/454

Should return 8 published fairs, starting with currently-running ones and including most recent closed fairs if more are needed.

[2017-11-01 21:57] mzikherman opened #798 "Schema for Market Data component"
Given an artist, we'd want to be able to return:

top auction result
top gallery representation
top institutional permanent collections

This data can likely be cached as a JSON blob (in metaphysics?) for a long time/doesnt change often at all. It's also not user-specific.

This can return stubbed data in the meantime, in order to provide a schema to the front-end, while the backend APIs are being

[2017-11-09 10:02] sarahscott opened #806 "Reject Fairs without Profiles in HomePageFairsModule"

[2017-11-15 05:43] alloy opened #810 "Schema stitching for server to server access with more privileged access."
There’s a need for MP offering 2 schemas (see [here](https://github.com/artsy/metaphysics/pull/809#discussion_r151020441) and [here](https://artsy.slack.com/archives/C04DU9H0L/p1510693747000689)), one for consumer clients and one for more privileged server to server access. The latter contains fields of which even the existence shouldn’t be leaked publicly.

One possible solution would be to have

[2017-11-15 05:44] alloy commented on #810
This does mean that backend services still need to be able to serve different schemas based on the provided app ID.

[2017-11-15 11:06] alloy commented on #810
It looks like at least graphql-ruby has the built-in capability to [limit visibility](http://graphql-ruby.org/schema/limiting_visibility), so I assume this means that if we make use of that the service will automatically respond with the correct schema in response to an introspection query 👍

[2017-11-15 15:16] ashkan18 commented on #810
few things to consider:
- This assumes we'd only have two levels of authorization, *public* or *trusted*. This is correct in case of Gravity at the moment, but just a limitation to consider. Imagine that tomorrow we wanted to show specific set of fields if you are a **licensed** app or something.

- Having a *closed-source* MP might actually be useful when it comes for our internal apps, in few ar

[2017-11-15 15:31] alloy commented on #810
It assumes that there’s only a very limited amount of them and not many permutations based on e.g. specific users.

Closed-source MP could hold _several_ schemas for various privileged roles, as described in option 1, if that makes sense for the problem at hand.

Closed-source MP would basically _only_ have to exist for these purposes. Until there are apps that want to consume a stitched together

[2017-11-15 15:35] alloy commented on #810
An interesting note that came out of chatting to @ashkan18 was that this is only about knowing about the full schema, not whether or not a particular app/user may read values from all of the fields in the schema.

So while we don’t want external people to be able to know of the existence of fields or read their values, I think that it should be fine for our services to _know_ that certain privileg

[2017-11-17 15:53] orta opened #815 "Connections should error if you pass no `first` or `last` params"
This should give an error:

[code]

[2017-11-17 15:54] mzikherman commented on #815
Yea, I always forget that the first time and I'm like `why are there zero results`, and then i remember.

[2017-11-17 16:20] orta commented on #815
Yep 👯‍♂️ twice now I've spent ~30m before figuring

[2017-11-17 16:22] mzikherman opened #816 "[Stitching] Metaphysics should remain resilient (w/ respect to introspection and start up)"
This is in the context of schema stitching.

We should keep in mind that Metaphysics should be able to startup, at the very least, no matter the state of the underlying services, even if they are down and not able to respond to an introspection query.

If we query underlying services upon Metaphysics boot- this might require some finagling. Also, it would then require restarting Metaphysics (to ge

[2017-11-17 16:32] mzikherman commented on #815
We generally use https://github.com/darthtrevino/relay-cursor-paging/blob/177eca6975ef7cd602caf2f92edbeed00cabf3b9/src/pageable.ts as the pagination args  ,maybe there's some `exactly_one_of` or some such validation that maybe makes sense?

[2017-11-17 16:35] orta commented on #815
Aye, given the move towards connections by defaults for lists, I think we'll see ^ come up as people use it more outside of relay

[2017-11-22 10:33] alloy opened #827 "[Stitching] Better errors"
These changes will likely require that we change errors to be objects rather than just message strings, will have to look into whether or that’s actually supported according to the spec.

* Services and MP should start using HTTP status codes to reflect the type of error
* Services should generate UUIDs for errors and:
  - log locally the details associated with that error UUID
  - include that UU

[2017-11-22 17:55] alloy opened #829 "[tracing] Make it possible to detect resolvers that perform longer running work"
We should make these resolvers use async/await, because then these functions will be instances of `AsyncFunction` and we can filter resolvers to wrap by checking for that class instead.

[2017-11-22 18:41] alloy commented on #829
I’m thinking that we can maybe use the TS compiler to automatically rewrite all resolvers that return promises, as long as they come from the data loaders.

[2017-11-22 19:10] orta commented on #829
*babel

[2017-11-22 20:43] alloy commented on #829
No not babel, because the TS support in Babel really only means that it can parse TS code, it does do anything with the types such as inference, which is probably what we’d need.

[2017-11-23 14:23] alloy opened #833 "[stitching] Dealing with type name ambiguity/conflicts"
Please see https://github.com/apollographql/graphql-tools/issues/495#issuecomment-346607677

We [shortly discussed](https://artsy.slack.com/archives/C1HH3KNJG/p1510857274000641) this previously. We should continue that discussion to determine what would be good enough for us.

cc @orta @joeyAghion

[2017-11-27 20:36] orta opened #836 "[Stitching] Issues with enums"
[From Slack](https://artsy.slack.com/archives/C1HH3KNJG/p1511450516000140)

So, take [this query](https://metaphysics-staging.artsy.net/?method=post&query=query%20%7B%0A%20%20home_page%20%7B%0A%20%20%20%20artwork_modules%28%0A%20%20%20%20%20%20max_rails%3A%206%2C%0A%20%20%20%20%20%20order%3A%20%5B%0A%20%20%20%20%20%20%20%20ACTIVE_BIDS%2C%0A%20%20%20%20%20%20%20%20RECOMMENDED_WORKS%2C%0A%20%20%20%2

[2017-11-27 20:52] orta commented on #836
Possibly - https://github.com/apollographql/graphql-tools/issues/363

[2017-11-28 16:43] orta commented on #836
Doesn't look like this fixes it.

Going to look at the merged resolvers, to verify that the  resolvers in metaphysics' code are correct. This tells us whether it's on the way in, or on the way back.

If it's on the way back then look at potential verification passes inside the schema checks

[2017-11-28 21:04] orta commented on #836
Looks like it's doing two sets of "resolves" or verification steps, the results of the first one are put into the second one. So the enum "complete" function will mutate the results (from `"left white"` to `"LEFT_DARK"`) and on the second check you have the name instead of the value

![screen shot 2017-11-28 at 4 01 42 pm](https://user-images.githubusercontent.com/49038/33344043-8388b472-d455-11e7

[2017-11-28 21:55] orta commented on #829
yep, that's smart

[2017-11-29 00:22] anandaroop opened #839 "Tracking of upstream urls breaks partners loader"
Re:
- artsy/collector-experience/issues/730
- artsy/collector-experience/issues/731
- [Slack report #1](https://artsy.slack.com/archives/C02CAB1KW/p1511783060000157)
- [Slack report #2](https://artsy.slack.com/files/U030DN7J1/F87HTSQLF/screen_shot_2017-11-28_at_15.46.13.png)

www.artsy.net/galleries shows a location-based carousel ("Featured Galleries near _&lt;your current location&gt;_") which i

[2017-11-29 01:18] mzikherman commented on #839
It's an incorrect use of that loader, its serializing the string `partners`.

It should just be `partnersLoader(options)`, and not `partnersLoader("partners", options)`. That should fix it.

[2017-11-29 01:20] joeyAghion commented on #839
Great find!

[2017-11-29 01:26] #839 closed

[2017-11-29 01:31] mzikherman commented on #839
Yea, excellent sleuthing work, as usual.

Looks like https://staging.artsy.net/galleries is fixed!

<img width="783" alt="screen shot 2017-11-28 at 5 49 46 pm" src="https://user-images.githubusercontent.com/1457859/33353299-2509fffc-d47b-11e7-9449-45af7115388d.png">

[2017-11-29 01:33] anandaroop commented on #839
Omg, thanks for the quick fix @mzikherman !

Just confirmed that it's fixed on https://staging.artsy.net/galleries 🎉

[2017-11-29 06:31] starsirius commented on #839
Nice! Thanks for quick fix, @anandaroop and @mzikherman! 🎉

[2017-11-29 15:44] yuki24 commented on #839
Thanks for taking care of this! @anandaroop @mzikherman

[2017-12-01 01:25] orta commented on #769
We have a test for this now, so it's not needed

[2017-12-01 01:25] #769 closed

[2017-12-01 15:36] orta opened #847 "[Dev] Add express-reloadable?"
This repo is just an express app, perhaps we could use express reloadable instead fo the full restart. It ain't _super_ slow, but it's kinda slow. I've definitely waited.

Ideally someone _other_ than @damassi does it so that we get some fresh perspective on using the lib

[2017-12-01 17:45] damassi commented on #847
I took a quick look at this and it's def possible!

[2017-12-07 19:54] joeyAghion opened #852 "Support different caching needs"
The current unauthenticated+caching data-loader may be fast for clients, but doesn't help backing systems at all because it immediately attempts to refresh the cache on each request. In many cases this is much more aggressive than necessary. An example:

The new artist highlights component depends on several API requests to fill out its data. This data (auction record, gallery representation, and

[2017-12-07 20:07] alloy commented on #852
Yup, sounds way overdue. It should be fairly straightforward to add an optional expiration value per key [here](https://github.com/artsy/metaphysics/blob/b4f1f06cbe5b68aeb8206ea9a9698ded2de0bad6/lib/cache.js#L46) and allow the data loaders to define specific cache expiration per endpoint.

[2017-12-07 20:20] joeyAghion commented on #852
Hmm... per endpoint? That might be a problem, because we wouldn't want the staleness to apply (in the example's case) to _all_ requests that retrieve artists, partner-artists, or auction results. We _would_ want the `highlights` schema's results (or the requests originating there) to be allowed to be stale though.

You see what I mean? The caching I had in mind would need to be applied closer to t

[2017-12-07 20:28] alloy commented on #852
Oh that’s fine too, users of the data loaders could also pass in a custom expiration that would override any other defaults. That’s the `pathAPIOptions` [here](https://github.com/artsy/metaphysics/blob/b4f1f06cbe5b68aeb8206ea9a9698ded2de0bad6/lib/loaders/api/loader_without_authentication_factory.js#L32).

[2017-12-19 17:38] mzikherman opened #865 "RFC: Update `isTypeOf` checks to use injected type data, rather than inspecting responses"
These kinds of `isTypeOf` checks: https://github.com/artsy/metaphysics/blob/da9771e6aafbbffd03761d6a1678da32a673b1a7/schema/me/conversation/index.js#L328 (which is a pattern we follow everywhere), can be brittle.

Generally speaking we've been a little bit hasty (IMO), in making certain type and null-ability assertions in Metaphysics. For instance, unless there's a database constraint on a field i

[2017-12-19 18:57] orta opened #866 "RFC: Update metaphysics to not grab total counts but to grab x + 1 items"
This was an idea @yuki24 mentioned in our graphql lunch & learn.

Right now we ask for total counts for pagination so that we can know about before or afters:

https://github.com/artsy/metaphysics/blob/conversation_has_messages/lib/helpers.js#L89-L95

Perhaps we can move this to instead get x + 1 ( or x -1 ) to handle knowing if there's another page?

[2017-12-19 19:01] alloy commented on #865
Ohh, interesting strategy to use the loaders! Hadn’t thought of that yet. I think this makes a lot of sense, seeing as we don’t really have any feed that mixes types, do we? Because that’s the only place this could break.

With regards to nullable fields, _where possible_ I would rather we add those constraints to the db instead of loosening the types for clients. Would it be possible in the case

[2017-12-19 19:06] mzikherman commented on #865
We found a conversation in production (possibly many conversations), that were failing our `isTypeOf` checks, b/c one of those fields _is_ actually nullable (and is then not even included in the response by the Impulse presenter, which strips nulls).

[2017-12-19 19:28] alloy commented on #865
Ahhh, I see, gotcha.

[2017-12-19 19:35] alloy commented on #866
I like the idea in general, but also very much in the case of our infrastructure where counts seem inherently untrustworthy, e.g. a count returned from ES can still include works that are since unpublished and will get filtered by Gravity before sending to the client. I don’t particularly like that we have APIs that return inconsistent data, but if we can avoid it all together then that definitely

[2017-12-19 21:06] orta opened #869 "Memcache issues on production"
I took a look at the production logs - it was mostly memcache errors ATM:

[code]

[2017-12-19 21:36] alloy commented on #869
Yeah these have always been the same. @craigspaeth Had said that we could probably easily switch to e.g. redis.

[2017-12-20 01:39] mzikherman commented on #866
On the one hand, we really should just be able to return consistent counts. In the specific case of ES filtering out works that are unpublished after they're returned, ES itself should already be doing that, and the counts should be correct. I believe the guard was put in place in the event of an ES delay in indexing (which can definitely happen, the cluster is slow/down, there's a backup in the d

[2017-12-20 07:11] alloy commented on #866
Interesting. I agree that the pattern implemented in the end client at least makes a lot of sense and the one additional spinner the user might get to see isn’t that bad, but I’m not yet sure I understand how we’d have MP do that determination consistently. MP wouldn’t know to return `hasNextPage: false` If the actual count is exactly dividable by the page size until it would try to fetch the next

[2017-12-20 15:07] mzikherman commented on #866
I don't think so. Basically all our backing APIs use `page/size` or `size/offset`, which are integers. So, barring gaps in the data or other anomalies, if there are more pages left, you should always get back exactly what `size` you requested. Since MP knows what the `size` it sent over, it can just check the length of the data returned. If it's less than the requested `size`, it can just set `has

[2017-12-20 16:21] alloy commented on #866
Oh I see, yeah yeah I think you’re on the right track. Let’s give this a try And if this pans out it’s time to refactor and have our own little connection definition lib that does this and other things we commonly do.

[2017-12-20 20:01] yuki24 commented on #866
This is correct. For example, if the total count is 100 and the page size is 20, the last page would have 20 results and incorrectly returns `hasNextPage: true`, which is why the +1 addition is important.

[2017-12-21 16:47] orta commented on #866
I just chatted with @mzikherman - I forgot to note in the OP that a key point of this is to avoid requesting the total count. 👍

[2017-12-21 16:50] alloy commented on #866
And what’s the main reason(s) to avoid requesting a total count?

[2017-12-21 16:52] alloy commented on #866
But yeah, reading my own comment with a fresh mind, I come back to my original comment and agree with @yuki24 that this couldn’t work if the actual available amount is exactly dividable by page size.

[2017-12-22 15:44] mzikherman commented on #866
Ah whoops! I didn't understand the initial premise here- that we _dont_ want to be requesting total counts all the time, and this is an alternative.

My suggestion was purely as a backup to _also_ having counts- it would simply work to stop paginating early if there's an inconsistency. But it absolutely still relies on having the total count. In the example @yuki24 posed, if we _werent_ fetching t

[2017-12-22 19:10] alloy commented on #866
The main reason I asked for a motivation is that, assuming it’s indeed meant as optimization, I for one don’t know if it’s more costly to return a count or an extra record of data.

[2018-01-08 08:46] izakp commented on #869
Saw this again this morning.  Fixed by restarting the app, meaning it was not on Memcachier's side, and most likely in the error handling of MemJS.  I expect the appropriate fix would be to make sure MemJS reinstantiates (i.e. fully closes and opens a new socket) when it gets these errors, or even to just bail out and let the Heroky dyno sueprvisor restart the app.

[2018-01-08 08:57] izakp commented on #869
@alloy did update MemJS to `0.10.0` a year ago in response to [this issue](https://github.com/alevy/memjs/issues/89), but it's still open! :/  Is it possible to catch this error and call the `memjs.Client.create()` constructor fresh?

[2018-01-08 09:18] alloy commented on #869
After discussing with @izakp we concluded that we should just make the switch back to Redis, because:

* iirc there’s more offerings in redis services and node libraries
* operationally speaking, redis has @izakp’s favour

[2018-01-09 17:25] orta commented on #869
https://artsy.slack.com/archives/C1HH3KNJG/p1515403892000038

[2018-01-11 14:19] izakp commented on #869
@orta I don't think we should conflate this with other memory issues

[2018-01-11 14:21] izakp commented on #869
@alloy so right now there are a couple of things lined up for us in Platform, but once we update to Kubernetes 1.9 and add additional instances to plan for Metaphysics' memory usage, I think we can move forward on this.  You will then be able to use AWS ElasticCache for Memcached or Redis, accessed via a private network, and so can use the leading drivers.

[2018-01-11 14:47] alloy commented on #869
@izakp Awesome! 👌

[2018-01-11 15:52] #798 closed

[2018-01-11 16:04] #585 closed

[2018-01-11 16:10] orta commented on #836
I chatted privately with @freiksenet about this - his recommendation was to try treating Metaphysics as an external API also (so that stitching doesn't use the real resolvers initially)

So more like this

https://github.com/artsy/metaphysics/blob/362efca3fa9e0ceed7da386b95724b7b7a8a35b3/src/lib/mergeSchemas.js#L10-L34

Instead of

https://github.com/artsy/metaphysics/blob/362efca3fa9e0ceed7da386b

[2018-01-11 17:55] #852 closed

[2018-01-24 20:06] mzikherman opened #909 "Add `ignoreBlankMessages` to messages connection"
This should be able to filter out messages that have no body AND no attachments.

[2018-01-24 20:17] alloy commented on #909
@sarahscott Related to https://artsyproduct.atlassian.net/browse/IN-56

[2018-01-26 15:51] mzikherman opened #912 "Loader maintenance"
Some assorted ad-hoc maintenance issues that arose out of https://github.com/artsy/metaphysics/pull/910

* Remove the rest of gravity (and other) loaders. They are still being used in a couple of generic/clever places, as part of `total`, and also in some home page helpers, where they _aren't_ in the context of a GraphQL resolver. These are all a bit tricker and less automatic than just replacing

[2018-01-26 21:06] #865 closed

[2018-02-05 12:30] orta commented on #836
unblocked by https://github.com/apollographql/graphql-tools/pull/613

[2018-02-15 14:26] #869 closed

[2018-02-16 14:41] joeyAghion opened #931 "metaphysics monitoring dashboard"
Metaphysics is unstable and doesn't have a clear, single destination for high-level monitoring and metrics. The common course of events is:
* #help requests arrive _or_ alerts start to be triggered in upstream systems (e.g., Force)
* we open Force's heroku metrics
* Depending on that, we tail Force's heroku logs or:
* open Metaphysics' heroku metrics
* tail Metaphysics' heroku logs
* investigate f

[2018-02-16 14:47] joeyAghion opened #932 "metaphysics alerts"
(Related to https://github.com/artsy/metaphysics/issues/931, which describes common failure scenarios.)

Metaphysics' instability issues have revealed that it lacks some of the usual "production checklist" items, like alerts. We usually respond to issues in _other_ systems, then find that they actually originate in Metaphysics. There's wasted effort in that, and really Metaphysics should have its

[2018-02-19 09:33] izakp commented on #932
Looks like this is due to the NewRelic integration.  Once I [disabled it on Saturday 17th Feb, 12:00 CET](https://artsy.slack.com/archives/C2TQ4PT8R/p1518866332000077) memory usage became consistent and errors subsided.

The NewRelic integration points look very suspicious.  The `graphqlErrorHandler` function is requiring the `newrelic` library [in the context of the request handler](https://githu

[2018-02-19 11:27] alloy commented on #932
There is no issue with how those imports are setup. Node modules are only loaded once and then cached, so you can import it many times all over the place and always get the same instance.

[2018-02-19 14:56] izakp commented on #932
Thanks @alloy for https://github.com/artsy/metaphysics/pull/935

[2018-02-20 17:52] joeyAghion opened #937 "Metaphysics should specify a user-agent"
API logs show mostly empty user agent values. It would be helpful if Metaphysics identified itself in its requests to the API with the conventional User-Agent header.

[2018-02-20 18:17] orta commented on #937
This one is a tad tricky, as MP only makes requests for others, could wrap the existing user agent with it's own e.g. request in `Eigen 4.0; webkit; blah` becomes `Eigen 4.0; webkit; blah; metaphysics`

[2018-02-21 15:51] joeyAghion commented on #932
Gonna close this as we've since added alerts on error rate (exceeding 5%) and response time (95th percentile exceeding 4 seconds). These deliver to the platform-alerts@ group and #platform-alerts slack channel.

[2018-02-21 15:51] #932 closed

[2018-02-21 22:55] orta opened #941 "Schema crashes graphql-for-vscode"
[code]

I looked into https://github.com/kumarharsh/graphql-for-vscode

It's a server/client system built on https://github.com/Mayank1791989/gql

- I tried updating `gql` in reaction, and it didn't fix it.
- I tried making a test on gql that uses our schema - https://github.com/orta/gql/commit/f8c228c19ce97c91e01fc2bc27062a1d83f66a06 - and that didn't fail

[2018-02-28 16:53] mzikherman commented on #358
Annual update on this issue: we're finally doing it!

[2018-03-13 22:30] mzikherman commented on #931
Closing as this is addressed by dashboards living in Datadog now that the app is on k8s (https://app.datadoghq.com/screen/302489/metaphysics-production), is linked to in the README, etc.

[2018-03-13 22:30] #931 closed

[2018-03-13 22:34] mzikherman commented on #912
woop done!

[2018-03-13 22:34] #912 closed

[2018-03-14 14:15] #937 closed

[2018-03-14 15:40] jonallured commented on #687
Heyo! I'm going to close this for now. It's old and maybe not worth pursuing anymore? If someone disagrees, feel free to reopen!! ❤️

[2018-03-14 15:40] #687 closed

[2018-03-26 18:24] orta opened #982 "`yarn tsc` fails"
Before we can start enforcing the compiler, we'll have to go through and make al the current fails pass.

[2018-03-28 03:01] orta opened #983 "Use TypeScript 2.8's inferred types to make the dataloadesr autocomplete"
We can use

[code]

to get the return type of all our dataloaders.

<img width="875" alt="screen shot 2018-03-27 at 11 01 02 pm" src="https://user-images.githubusercontent.com/49038/38006363-bfbdf676-3212-11e8-8af1-631ac751674f.png">

and give it a name. Then we can do a declare of some sort for a resolver to attach that as context where we use it in the params.

[2018-04-10 15:34] Samueljoli commented on #492
@alloy Hey I'm curious about what solution you guys went with. Did you roll your own solution or look into optics?

[2018-04-10 15:38] orta commented on #492
We ended up with DataDog, which we could use to track from a resolver to backend systems too - https://github.com/artsy/metaphysics/search?utf8=✓&q=datadog&type=

[2018-04-20 14:37] mzikherman opened #1015 "babel-node and TS problems when running dump-schema"
https://github.com/babel/babel/issues/5616#issuecomment-366098915

Some of the scripts in the proj (like `yarn dump-schema`) fail with errors indicating `.babelrc` isn't picked up properly.

[code]

From the command-line, one can run `node_modules/.bin/babel-node --extensions ".ts,.js" scripts/dump-schema.js` and it works, so we have a workaround, but we should investigate.

[2018-04-20 14:39] ashfurrow opened #1016 "`dump-schema` fails with config issues"
This came about in the course of #1015, but the `dump-schema` script fails to run unless the following lines are commented out:

https://github.com/artsy/metaphysics/blob/a23ee2491dfa1a1a589eae1fab57990fef5e73b9/src/config.js#L70-L74

Added in https://github.com/artsy/metaphysics/pull/981

Our config should accommodate the the script, but in the mean time, this issue will help the next person who

[2018-04-20 14:42] mzikherman opened #1017 "Stitching issues/namespacing"
We have a `Category` type (https://github.com/artsy/convection/blob/2262bfdecc87a8d7e30f2f144b980d401849eeb3/app/graph/types/category_type.rb#L2) in Convection that is clobbering a local type in MP: https://github.com/artsy/metaphysics/blob/91c249d6a225d5a5094a07237a25c63fb080a446/src/schema/partner.js#L23

This is causing `Market Insights` to be broken in Production.

This also is preventing us f

[2018-04-27 02:04] #1016 closed

[2018-04-27 02:04] #1015 closed

[2018-05-01 21:12] orta commented on #833
#1028 has some examples of this with consignments

[2018-05-01 21:13] orta commented on #816
We opted for dumped SDL files

[2018-05-01 21:13] #816 closed

[2018-05-01 21:13] orta commented on #836
Fixed 👍

[2018-05-01 21:13] #836 closed

[2018-05-02 12:35] alloy commented on #1017
There’s also #833. Should that be closed?

[2018-05-02 13:53] orta commented on #833
Yeah, I'm closing now there's an implementation of how to do this, and a general discussion in the guides - https://github.com/artsy/guides/blob/master/guides/GraphQL-Schema-Design.md

[2018-05-02 13:53] #833 closed

[2018-05-02 13:55] orta commented on #1017
I have a test for

[code]
in https://github.com/artsy/metaphysics/pull/1032/ and it doesn't fail. So maybe in the graphql-tools updates, it got fixed

[2018-05-06 13:25] orta commented on #630
Initial migration is done, hah, just about one year later

[2018-05-07 17:13] alloy commented on #630
Steady as she goes, @orta, steady

[2018-05-09 13:41] mzikherman opened #1040 "`Must-have` configs"
We have a list of 'must have' configs, and we throw an error if any of them are missing: https://github.com/artsy/metaphysics/blob/33eac8c55c1d0fd811872aaf541133683d4b3101/src/config.js#L75

I this is a cool idea! Rather than fail silently/mysteriously at a future point, we enforce their presence.

However, I think there are two current issues with Metaphysics and its handling of the 'must-have' c

[2018-05-12 17:00] zephraph commented on #705
Has there been any discussions around creating an artsy eslint rules package? That'd make it a bit more portable across projects.

I started looking into this a bit. I think [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) might be what you're looking for instead. I've got a branch for it, buuuut... it looks like your eslint dependencies are a bit out of date so it thro

[2018-05-30 19:25] mbilokonsky opened #1067 "RFC: proposed linting rules for arrow functions"
## Proposal:

We're currently running ESLint against metaphysics on every commit, where commits will fail if the lint finds errors it's unable to resolve.

We have the option to specify whether or not we want our linter to have opinions about how arrow functions should be written. There are two independently-tracked variables to consider:

1. [`arrow-parens`](https://eslint.org/docs/rules/arrow-pa

[2018-05-30 19:32] ashfurrow commented on #1067
I'm 👍 for it, but I think we should apply it to our tests, too. `it('asserts something', () => assert(foo))` is a _little_ weird, but not weird enough to give up linting our tests imo.

[2018-05-30 19:34] mbilokonsky commented on #1067
What does linting give us that we need it in our tests? My sense is that the greatest utility of linting is that it might catch areas where we aren't being careful and bugs _could_ emerge. In general, if a bug emerges in a test then that test doesn't behave as expected, and we catch it because we run our tests all the time.

I'm generally on team 'minimize the surface area of linting and maximize

[2018-05-30 19:38] mbilokonsky commented on #1067
(I should point out that we're ignoring tests in our linting on this project prior to this PR)

[2018-05-30 19:48] ashfurrow commented on #1067
Yeah, I mean, tests are code and linters make code readable and consistent. We're conflating a bit this RFC generally and Metaphysics specifically, but it wouldn't bother me either way.

[2018-05-30 19:51] mbilokonsky commented on #1067
Yeah so one thing I was wondering is if this is the right place for this RFC or if I should put it somewhere more general? Is having this conversation here just an invitation to relegislate the conclusions separately on every other project?

[2018-05-30 20:08] ashfurrow commented on #1067
Mmmmm that's a good question but I don't have an answer. This is kind of project-specific, so opening an issue on that project would make sense, or a Slack conversation, or an RFC. There's not a _wrong_ place to put it.

[2018-05-30 20:09] anandaroop commented on #1067
I'm in favor of the specific proposal :+1: and agree with the reasoning behind it.

But I'm also generally comfortable with a certain degree of opinionated linting. The consistency and resulting readability have already been mentioned, but there are also many rules (of the `no-unused-vars` variety) that help to control entropy and drift in long-lived, collaboratively authored codebases.

And I thi

[2018-05-30 20:36] acjay commented on #1067
I'm a huge fan of expression-orientedness, in general. ES6 gave us many improvements, but one thing it couldn't do is make JS *completely* expression-oriented. But, they were able to give us the gift of expression-oriented single-line functions, which I think we should accept!

Philosophically, I think programming language development is on a long march toward two things: getting the programming l

[2018-05-30 20:41] mbilokonsky commented on #1067
@acjay So I made the same assumption about Prettier but while they do offer `arrowParens` as a field they do not have a parallel for `arrowBodyStyle`, at least not that I found.

[2018-05-31 12:09] mbilokonsky commented on #1067
```But when it's blindly applied to all code regardless of context it introduces a maintainability burden as well as decreases efficiency as codebases evolve and change. In small codebases this is fine, but in large ones it can become a real headache.```

But this is a linter. That's what it does. These are the rules we have access to. There's no lint rule that describes what you're asking for, be

[2018-06-01 13:17] orta commented on #1067
IMO, I've never looked at some code and thought that this should be a rule.

We don't do it in any of out typescript projects. I don't think we should decide between the two options presented - I don't think the rule should be enabled at all regardless of the config personally.

[2018-06-01 13:22] acjay commented on #1067
Sounds like everyone's in favor of using the minimal syntax when it's a simple expression. But in cases where something's being run for its side effect, which just _happens_ to only be one statement, fair point that it's not so good. So count me in for "no rule".

[2018-06-04 14:39] mbilokonsky commented on #1067
There was a misunderstanding in the framing of this issue. When I wrote this I was under the impression that our choice was between a draconian enforcement of brackets or a draconian enforcement of their absence, and I wanted to advocate for their absence.

I see now though that I had misunderstood the initial state of things. Not having a rule makes the most sense, so I'm going to retract this is

[2018-06-04 14:39] #1067 closed

[2018-06-19 14:47] jonallured opened #1118 "Expose query for a partner's orders"
I've started work on the `/orders` page in Volt. This is the page where we draw a table of orders for the partner. It has tabs at the top for the various states. The partner can review the orders and pick one to view the detail page. It looks something like this:

<img width="1048" alt="screen shot 2018-06-19 at 9 46 14 am" src="https://user-images.githubusercontent.com/79799/41604776-a3e6c6b0-73a

[2018-06-19 14:52] sweir27 commented on #1118
Thank you @jonallured ! This is great.

I have a few initial comments:
- Let's sync up with @mzikherman re: current best-practices for pagination, since this seems very related
- what is `inventory_id` of an artwork?
- what do we mean by `updated_at` on an order? Is that the time we want to show there? I would have expected that to be `created_at` or a more controlled timestamp. I worry that `upda

[2018-06-19 15:06] ashkan18 commented on #1118
Thanks for opening this 🙌  This is how I have Stress setup for orders query, we are using GraphQL Connection which provides [pagination](https://graphql.org/learn/pagination/) options on both orders and line items embedded in an order:

[code]
Few validations regarding query above:
- we need at least one of `partnerId` or `userId`
- when `userId` is passed we make sure it matches the user id of JW

[2018-06-19 15:12] ashkan18 commented on #1118
in terms of price related fields, i know MP has its own way of exposing those, so it may be little different in real life, need to look into that

[2018-06-19 16:19] jonallured commented on #1118
There was some discussion about the topic of states and timestamps on Slack here:

https://artsy.slack.com/archives/CB110C6LE/p1529421574000589

@sweir27 made a good point that from Volt's point of view, all we care about is knowing the current state of the order and the timestamp that corresponds to that state. That, along with a few other things I've learned, revises my ideal query to this:

[co

[2018-06-19 17:32] ashkan18 commented on #1118
as for state and timestamp, we actually had some discussion around it in https://github.com/artsy/stress/pull/6#discussion-diff-194090972R10 and we should be able to just use `update_at` as the last time the order state was changed.
As for expired orders, I _think_ we need to handle it on server side since it can expire for different reasons right?
- an order can expire if it never gets submitted

[2018-06-19 17:32] sweir27 commented on #1118
Oh interesting, hadn't heard of `inventory_id` (is that what the Artwork ID column is in the comp? I assumed it was the one we store but I guess that doesn't really mean much to partners 😅).

I think we should agree/follow our precedent for amounts! Makes it easy to go cross-concern. If we have questions about approach, best to bring up in #graphql or #front-end.

Agree that `expired_at` should be

[2018-06-19 18:34] orta commented on #1118
I'd assume so, likely these:

<img width="233" alt="screen shot 2018-06-19 at 2 34 02 pm" src="https://user-images.githubusercontent.com/49038/41617198-d457b6ba-73cd-11e8-99a5-02a46424dc97.png">

[2018-06-20 14:06] ashkan18 commented on #1118
Here is what i have working from MPs perspective in #1120

[code]

[2018-06-20 14:33] oxaudo commented on #1118
CMS going WHITE? !!!

[2018-06-22 20:02] ashkan18 commented on #1118
This is the latest query example defined and working in #1120

[code]

one thing to note here is `partner`, `user` , `artwork` and `editionSet` are mapped to Gravity's data so we'd have access to everything in those models.
Also all _price_ related models have option of setting symbol and few other things, i have sample here for line item price, but all other price fields are the same.

[2018-06-22 20:08] ashkan18 commented on #1118
https://github.com/artsy/metaphysics/pull/1120

[2018-08-24 13:22] alloy opened #1240 "[Stitching] Type and root field prefixing"
We’ve already decided to prefix all types with a descriptive name (i.e. not just the service name, because that’s an implementation detail), but we should maybe do so for root fields and mutations as well.

E.g. right now
* we rename all types coming from exchange with `Ecommerce*` https://github.com/artsy/metaphysics/blob/aeadfb6155019ba0e200558060bde008b42707e7/src/lib/stitching/exchange/schema.

[2018-08-24 19:44] ashkan18 commented on #1240
@orta do you remember why we added `ecomerce_` to root fields?

[2018-09-04 18:48] orta opened #1266 "Debugger is timing out, but still connecting correctly"
<img width="488" alt="screen shot 2018-09-04 at 2 48 03 pm" src="https://user-images.githubusercontent.com/49038/45051251-95640600-b051-11e8-9317-35cb16d9e641.png">

[2018-09-04 18:53] alloy commented on #1266
I’ve been seeing that too FWIW. I attributed it to the vscode update I had installed.

[2018-09-04 20:02] orta commented on #1266
nah - I've seen it on @ashkan18's too

[2018-09-04 20:04] ashkan18 commented on #1266
yes, i 👀 too

[2018-09-04 20:38] alloy commented on #1266
Is it related to the auto attaching?

[2018-09-11 18:02] orta commented on #1266
I think so - yes

[2018-09-13 19:30] orta commented on #1240
A mutation *is* a root field, I did a bit of fidgeting but this is the schema:

[code]

[2018-09-13 19:41] orta commented on #1240
So this would break:

- Any client code that references a union: `EcommercePickup | EcommerceShip`
- Any client code that makes a mutation or a query 👍

basically everything.

[2018-09-20 01:42] orta opened #1287 "Should a cache miss be an error in Datadog?"
The logs are permanently full [of this](https://app.datadoghq.com/apm/traces?paused=false&env=production&status=error&start=1537404130154&end=1537407730154) 🔒.

[2018-09-20 08:29] alloy commented on #1287
Yeah that’s not very helpful, will update.

[2018-09-20 20:36] #1240 closed

[2019-04-08 20:26] kierangillen opened #1650 "RFC: Reevaluate time related fields"
Currently `start_at` and `end_at` timestamps do not record a timezone. We ask, and rely on, editors of cms.artsy.net, admin-fairs.artsy.net and auctions.artsy.net to input timestamps offset by UTC. E.g. if an auction is starting at 12pm Hong Kong Standard Time (GMT+8) we enter the time offset by 8 hours, `2019-11-01T04:00:00+00:00`.

This has worked fine for Auctions, as Artsy's auction team know

[2019-04-08 20:53] damassi commented on #1650
I wonder if there are any articles online that detail timezone migrations, hiccups and gotchas. Time, and timezones in particular, are notorious for their implementation complexity and so it would be good to maybe aggregate a few case studies in an effort to clarify the level of effort required.

[2019-04-08 20:54] anandaroop commented on #1650
Because computers + times + dates + timezones are always harder than you think 😅 , I'm linking to two articles that helped clarify a lot of this for me:

- https://zachholman.com/talk/utc-is-enough-for-everyone-right — lighthearted but very informative overview

- https://codeblog.jonskeet.uk/2019/03/27/storing-utc-is-not-a-silver-bullet — persuasive argument that storing future events' datetimes

[2019-04-09 13:23] alloy commented on #1650
I’m frankly surprised that we ever thought it was good enough to have people think about calculating their own offsets. I think we should absolutely have a good UI for people to input a time plus offset without needing to do any calculations on their own.

While there are many other things to consider–such as UTC+offset not necessarily being reliable for future events, as @anandaroop points out–ha

[2019-04-09 15:42] alloy commented on #1650
Hmm, but then where are those offsets, that you are proposing to truncate, coming from?

[2019-04-09 15:46] kierangillen commented on #1650
Those will come from the gravity migration in step 2. So all the offsets will be new. Step 1 is to ensure that the status quo for `start_at` and `end_at` doesn't change from the migration.

[2019-04-09 18:59] dleve123 commented on #1650
@anandaroop

I know we are discussing shortly, but can we give an example of 3 such values. I think "local time of th event" can be interpretted differently.

[2019-04-09 19:13] alloy commented on #1650
@dleve123 @anandaroop How about “time of the event in the specified timezone”?

[2019-04-09 19:17] alloy commented on #1650
@kierangillen I feel like I’m missing something about the order of things, but I guess that will become apperant as work progresses.

[2019-04-09 19:21] joeyAghion commented on #1650
Taking some notes for myself here:

Any chosen time can manifest in a few ways:
* The system wants to schedule something or programmatically act on it. In these cases, the stored value must be absolute or trivially convertible to an absolute value, so UTC (the only un-changing time form) is preferred.
* A related case is when we want to render a countdown or the time _until_ a given, absolute time

[2019-04-09 20:30] kierangillen commented on #1650
Notes from meeting from today:

Product Desires:

- As an admin, I should always specify a timezone when entering a datetime in an Artsy tool.
- As a partner admin, I should always specify a timezone when entering a datetime in an Artsy tool.
- As a client developer querying Metaphysics, I want to be able to query for a “dumb” date time string(s), i.e. “4:00 PM ET”
- As a client developer querying

[2019-04-09 21:23] anandaroop commented on #1650
@joeyAghion I think your notes sum it up well. Couple of minor points.

If you have the _correct_ UTC time in the database, and a desired timezone to localize to, I think that is sufficient, assuming that you are leaning on an up-to-date timezone database (via OS or library).

Good point — and why we would _try_ to provide a sensible default in the UI for selecting a timezone, but allow user to ov

[2019-04-10 13:26] SamRozen commented on #1650
Sorry for missing the meeting yesterday, one quick though I'd like to bring up in case if was not raised, regarding:

We already know that it's difficult for people to input high quality data. What can we do to make human operator's life as easy as possible? Can we bootstrap timezone from location and just ask them to validate? What other ideas are we considering?

[2019-04-10 13:34] anandaroop commented on #1650
We'll be starting this effort with `PartnerShowEvents` (e.g. opening receptions), and what you suggest is exactly the plan. Every one of these _should_ always have an associated location, and thereby a timezone.

(`PartnerShowEvent` ⤚ `PartnerShow` ⤚ [`PartnerLocation`](https://github.com/artsy/gravity/blob/d897ea6c72964875b45631459bd681b3372f8aba/app/models/domain/partner_location.rb#L24))

[2019-04-21 17:36] kierangillen commented on #1650
I'm going to close this issue as we have for action and another platform for discussion.

[2019-04-21 17:36] #1650 closed

[2019-04-30 17:21] renovate[bot] opened #1689 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Pending Approval

These PRs will be created by Renovate only once you click their checkbox below.

 - [ ] Pin dependencies (`@artsy/express-reloadable`, `@babel/node`, `@babel/preset-stage-3`, `@heroku/foreman`, `@types/dd-trace`, `@types/express-graphql`, `@types/express-rate

[2020-08-07 17:09] pvinis opened #2594 "Add some more possibilities for testing"
We should use the full introspection to get all fields and inputFields and be able to check what is included.

For context:
We added https://github.com/artsy/metaphysics/pull/2534 which is just a viewer with the root `viewingRooms` as `viewingRoomsConnection`. Then we added https://github.com/artsy/metaphysics/pull/2591 to have an inputField `statuses`. But now `Viewer.viewingRoomsConnection` is m

[2020-08-07 17:13] damassi commented on #2594
@pvinis - at some point if the path is more fleshed out it would be good to add this to platform's JIRA board with a `CLIENT-INFRA` label, that way we can track it better. Issues in repos tend to get lost.

[2020-08-07 17:20] pvinis commented on #2594
I wasn't sure which board to throw that in. Thanks!

[2020-09-16 23:15] idkjs opened #2704 "IMPULSE_APPLICATION_ID"
Where can I get and `IMPULSE_APPLICATION_ID` to get this program to run? Currently getting the followin error after installing and running.

Thank you.
[code]

[2020-09-17 03:38] damassi commented on #2704
Hi @idkjs - if you rename `.env.oss` to `.env` things _should_ work: https://github.com/artsy/metaphysics/blob/master/.env.oss

[2020-09-17 14:14] idkjs commented on #2704
ok. Will try and report back. Thank you.

[2020-11-22 18:03] JamieIdaho opened #2839 "Staging and Production sites down"
Both https://metaphysics-staging.artsy.net/ and https://metaphysics-production.artsy.net/ sites display the following error:

{"errors":[{"message":"Must provide query string."}]}

[2021-01-27 11:27] #2704 closed

[2021-01-29 21:44] #2839 closed

[2021-12-06 19:48] kathytafel opened #3584 "Adopt inclusive language"
in

- [x] src/schema/v1/home/fetch.ts
- [x] src/schema/v2/home/fetch.ts
- [x] /index.js
- [x] src/config.ts
- [x] src/lib/graphqlErrorHandler.ts
- [x] src/schema/v2/fair.ts
- [x] src/schema/v2/show.ts

per https://github.com/artsy/README/issues/427

[2021-12-10 10:40] dblandin commented on #3584
Both PRs are merged! Going to go ahead and close this ticket.

[2021-12-10 10:40] #3584 closed

[2021-12-15 15:54] renovate[bot] opened #3610 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (@artsy:app)

[2021-12-15 17:38] #3610 closed

[2022-07-23 15:17] pelletier197 opened #4250 "Proposition: create static API reference"
Hello! I am the maintainer of a documentation tool called [Magidoc](https://github.com/magidoc-org/magidoc), an open source software that auto-generates static GraphQL API documentation references.

I would like to propose to integrate Magidoc into this project. This would allow users of the API to easily get an overview of everything they can do, but it can also contain other documentation that m

[2022-07-23 15:55] damassi commented on #4250
Thanks for the heads up! When we need docs we will consider this.

[2022-07-23 15:55] #4250 closed

[2022-07-23 16:33] pelletier197 commented on #4250
Great, let me know then if you need help. Thank you!